<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [1]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [17]:
# My example
my_string1 = 'New test for'
my_string2 = "adding strings"
print(my_string1 + ' ' + my_string2)

New test for adding strings

An integer is a round number with no values after the decimal point.

In [5]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [18]:
# My example
my_int = 12364815159654121121236481515965412112
print(my_int)
print(type(my_int))

12364815159654121121236481515965412112
<class 'int'>

The built-in function int() can convert a string into an integer.

In [6]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [19]:
# My example
my_string = "12364815159654121121236481515965412112"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))
my_int

<class 'str'>
<class 'int'>

12364815159654121121236481515965412112

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [9]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [20]:
# My example
my_string = "2.71828182845904523536028747135266249775724709369995"
my_float = float(my_string)
print(type(my_float))
my_float

<class 'float'>

2.718281828459045

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [16]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [21]:
# My example
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [22]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [23]:
# My example
print("Addition ", 12+112)
print("Subtraction ", 1024-512)
print("Multiplication ", 12*10000)
print("Division ", 625/25)
print('exponent', 2**32)

Addition  124
Subtraction  512
Multiplication  120000
Division  25.0
exponent 4294967296

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [24]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [25]:
# My example
print(6/3)
print(6.0/3.0)
print(6//3)

2.0
2.0
2

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [26]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [27]:
# My example
my_list = ['m', 3, " perd",0,"n,",4,"s¿"]
print(my_list)

['m', 3, ' perd', 0, 'n,', 4, 's¿']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [28]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [29]:
# My example
my_list = ['m', 3, " perd",0,"n,",4,"s¿"]
print(len(my_list))
print(my_list[1])
print(my_list[len(my_list) -3])

7
3
n,

You can also change the elements in the list by accessing an index and assigning a new value.

In [30]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [31]:
# My example
my_list = ['m', 3, " perd",0,"n,",4,"s¿"]
my_list[5] = 'a'
print(my_list)

['m', 3, ' perd', 0, 'n,', 'a', 's¿']

A list can also be sliced with a colon:

In [36]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [34]:
# My example
my_list = ['m', 3, " perd",0,"n,",4,"s¿"]
print(my_list[3:6])

[0, 'n,', 4]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [37]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [42]:
# My example
print(my_list[4:])

[3]

And all elements up to but excluding index 3:

In [40]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [43]:
# My example
print(my_list[:1])

['Quant']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [44]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [45]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [46]:
# My example
my_list = ['Formula', 1]
my_list.append(' is great!')
print(my_list)

['Formula', 1, ' is great!']

In [47]:
# My example
my_list.remove(1)
print(my_list)

['Formula', ' is great!']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [48]:
my_tuple = ('Welcome','to','QuantConnect')

In [50]:
# My example
my_tuple = ('I','like','turtles')
my_tuple

('I', 'like', 'turtles')

Just like a list, a tuple can be sliced by using index.

In [51]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [56]:
# My example
my_tuple = ('I','like','turtles')
print(my_tuple[2:])

('turtles',)

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [57]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'F', 'IBM', 'GOOG', 'AAPL'}

In [58]:
# My example
stock_list = ['Mercedes','Red Bull','Mclaren','Mercedes','Red Bull','Ferrari','Aston Martin','Alpine']
stock_set = set(stock_list)
print(stock_set)

{'Aston Martin', 'Mclaren', 'Mercedes', 'Red Bull', 'Ferrari', 'Alpine'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [59]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [60]:
print(my_dic['GOOG'])

Alphabet

In [66]:
# My example
my_dic = {'HAM':'Hamilton', 'VER':'Verstappen', 'PER':'Perez'}

In [62]:
print(my_dic['HAM'])

Hamilton

After defining a dictionary, we can access any value by indicating its key in brackets.

In [63]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [67]:
# My example
my_dic['HAM'] = 'Lewis Hamilton'
print(my_dic['HAM'])

Lewis Hamilton

We can also change the value associated with a specified key:

In [68]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [70]:
# My example
my_dic = {'HAM':'Hamilton', 'VER':'Verstappen', 'PER':'Perez'}
print(my_dic.keys())

dict_keys(['HAM', 'VER', 'PER'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [71]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [76]:
# My example
my_str = 'To live for the hope of it all'
print(my_str[3:20])

live for the hope

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [77]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [80]:
# My example
print('Haaaave you met Ted?'.count('a'))
print('It\'s gonna be legen, wait for it, dary!'.find('g'))
print('sandscastles in the sand'.replace('s','_'))

4
5
_and_ca_tle_ in the _and

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [81]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [85]:
# My example
Teams = 'SanAntonio Spurs,Toronto Raptors,LosAngeles Lakers,Miami Heat,Boston Celtics,Brooklyn Nets,Chicago Bulls'
splited_list = Teams.split(',')
teamA = splited_list[0]
teamB = splited_list[1]
print(teamA , "vs" , teamB)
city = teamB.split(' ')[0]
print(city)

SanAntonio Spurs vs Toronto Raptors
Toronto

We can replace parts of a string by our variable. This is called string formatting.

In [86]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [89]:
# My example
my_book = 'Title: {} - Author: {}'.format('Divergent','Veronica Roth')
print(my_book)

Title: Divergent - Author: Veronica Roth

Another way to format a string is to use the % symbol.

In [90]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [91]:
# My example
print('the square root of 2 is %f'%1.41)
print('%s > %s'%('Vanilla ice cream','Any other ice cream'))

the square root of 2 is 1.410000
Vanilla ice cream > Any other ice cream

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.