<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [4]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [5]:
# my example
def myPow(x,y):
    return x ** y
print(myPow(2,3))
print(myPow(5,10))

8
9765625

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [6]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [7]:
# my example
from random import random
def print_random_number():
    print(random())
print_random_number()

0.6808920293000852

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [8]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [9]:
# my example
print(range(5))
print(range(2,5))
print(range(10,1,-1))

range(0, 5)
range(2, 5)
range(10, 1, -1)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [10]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [11]:
# my example
my_list = ['Infernape','Typhlosion','Blaziken','Palkia','Dialga','Giratina', 'Lugia', 'Ho-oh']
print('The length of my_list is {}'.format(len(my_list)))
for i in range(len(my_list)):
    print(my_list[i])

The length of my_list is 8
Infernape
Typhlosion
Blaziken
Palkia
Dialga
Giratina
Lugia
Ho-oh

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [12]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [13]:
# my example
my_list = ['Infernape','Typhlosion','Blaziken','Palkia','Dialga','Giratina', 'Lugia', 'Ho-oh']
print(list(map(len,my_list)))

[9, 10, 8, 6, 6, 8, 5, 5]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [14]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
# my example
list(map(lambda x: 2**x, range(12)))

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048]

map() can be applied to more than one list. The lists have to have the same length.

In [16]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [17]:
# my example
list(map(lambda x, y: x*y, [1,5,10,15,20],[1,2,4,8,16]))

[1, 10, 40, 120, 320]

**sorted()** takes a list or set and returns a new sorted list

In [18]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [19]:
# my example
sorted(["Z","AB","ABC","C","ZA"])

['AB', 'ABC', 'C', 'Z', 'ZA']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [20]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [21]:
# my example
list = [('A',5),('B',4),('C',1),('D',12),('R',-10)]
sorted(list, key = lambda x: x[1])

[('R', -10), ('C', 1), ('B', 4), ('A', 5), ('D', 12)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [22]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [23]:
# my example
list = [('A',5),('B',4),('C',1),('D',12),('R',-10)]
sorted(list, key = lambda x: x[1],reverse = True)

[('D', 12), ('A', 5), ('B', 4), ('C', 1), ('R', -10)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [24]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [25]:
# my example
list = [('A',5),('B',4),('C',1),('D',12),('R',-10)]
list.sort(key = lambda x: x[1])
print(list)

[('R', -10), ('C', 1), ('B', 4), ('A', 5), ('D', 12)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [26]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [27]:
# my example
class pokemon:
    def __init__(self, species, level, moves):
        self.species = species
        self.level = level
        self.moves = moves
 
    def use_move(self, move_id):
        print(self.species,"used",self.moves[move_id])
 
    def level_up(self):
        self.level = self.level + 1
        print(self.species,"grew to level",self.level)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [28]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [29]:
# my example
cyndaquil = pokemon("Cyndaquil",5,["Scratch","Growl"])
luxray = pokemon("Luxray",80,["Thunder Shock","Wild Charge","Crunch","Swagger"])

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [30]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [31]:
# my example
print(cyndaquil.level)
cyndaquil.level_up()
luxray.use_move(2)

5
Cyndaquil grew to level 6
Luxray used Crunch

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [32]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [37]:
# my example
cyndaquil.pokemon_type = 'Fire'
cyndaquil.pokemon_type

'Fire'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [38]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [42]:
# my example
dir(cyndaquil)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'level',
 'level_up',
 'moves',
 'pokemon_type',
 'species',
 'use_move']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [41]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [46]:
# my example
class catched_pokemon(pokemon):
    def __init__(self,nickname):
        self.nickname = nickname
        super().__init__("Gardevoir",50,["Psybeam","Shadow Ball","Dream Eater","Dazzling Gleam"])
        print("You catched a Gardevoir!")

In [45]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [47]:
# my example
gardevoir = catched_pokemon('Matt')
print(gardevoir.nickname)
gardevoir.level_up()
gardevoir.use_move(1)

You catched a Gardevoir!
Matt
Gardevoir grew to level 51
Gardevoir used Shadow Ball

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.