<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print 1 == 0
print 1 == 1
print 1 != 0
print 5 >= 5
print 5 >= 6

False
True
True
True
False

In [ ]:
# My example
print 12 == 1212
print 12 == 12
print 12 != 5
print 12 >= -12
print 12 >= 1

False
True
True
True
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print 2 > 1 and 3 > 2
print 2 > 1 and 3 < 2 
print 2 > 1 or 3 < 2
print 2 < 1 and 3 < 2

True
False
True
False

In [ ]:
# My example
print 22 > -22 and -2 > 2
print 25.5 > 25.6 and 3.0 < 3.3 
print -5230 > 0 or 0 < 1
print 2021 < 2022 and 1980 < 1990

False
False
True
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print (3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))
print 3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))

False
True

In [ ]:
# My example
print (1 > 0 or 11 <= 30) and (54654!=5 and 44000>300) and not ( 12 < 21 or 21 < 12 and (55!=55 and 88>87))
print 1 > 0 or 11 <= 30 and 54654!=5 and 44000>300 and not  12 < 21 or 21 < 12 and 55!=55 and 88>87

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [1]:
i = 0
if i == 0:
    print 'i==0 is True'

i==0 is True

In [3]:
# my example

i = 12
if i == 5:
    print 'i==5 is True'
else: 
  print 'i==5 is False'

i==5 is False

As we mentioned above, we can write some complex statements here:

In [4]:
p = 1 > 0
q = 2 > 3
if p and q:
    print 'p and q is true'
elif p and not q:
    print 'q is false'
elif q and not p:
    print 'p is false'
else:
    print 'None of p and q is true'

q is false

In [5]:
# my example
p = True and False
q = not p
if p and q:
    print 'p and q is true'
elif p and not q:
    print 'q is false'
elif q and not p:
    print 'p is false'
else:
    print 'None of p and q is true'

p is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [6]:
i = 0
while i < 5:
    print i
    i += 1

0
1
2
3
4

In [7]:
# my example
i = -12
while i < 12:
    print i
    i += 1

-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [8]:
for i in [1,2,3,4,5]:
    print i

1
2
3
4
5

In [9]:
# my example
for i in ["How I met your mother","Suits","Brooklyn 99","Lucifer","Seinfeld"]:
    print i

How I met your mother
Suits
Brooklyn 99
Lucifer
Seinfeld

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [10]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print stocks

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [12]:
# my example
colors = ['cyan','turquiose','mint','teal','aqua']
selected = ['mint','aqua']
new_list = []
for i in colors:
    if i not in selected:
        new_list.append(i)
print new_list

['cyan', 'turquiose', 'teal']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [13]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print i
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [14]:
# my example
les_nombres = ['un','deux','trois','quatre','cinq','six', 'sept', 'huit']
for i in les_nombres:
    print i
    if i == 'cinq':
        break

un
deux
trois
quatre
cinq

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [15]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print i

AAPL
GOOG
IBM
F
V
G
GE

In [16]:
# my example
les_nombres = ['un','deux','trois','quatre','cinq','six', 'sept', 'huit']
for i in les_nombres:
    if i == 'cinq':
        continue
    print i

un
deux
trois
quatre
six
sept
huit

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [22]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print squares

[1, 4, 9, 16, 25]

In [23]:
# my example
powers = []
for i in [1,2,3,4,5]:
    powers.append(2**i)
print powers

[2, 4, 8, 16, 32]

Using list comprehension:

In [24]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print squares

[1, 4, 9, 16, 25]

In [27]:
# my example
list = [1,2,3,4,5]
powers = [2**x for x in list]
print powers

[2, 4, 8, 16, 32]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [26]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print new_list

['AAPL', 'IBM']

In [29]:
# my example
teams = ['Lakers','Raptors','Spurs','Celtics','Timberwolves','Mavs', 'Hawks']
selected = ['Lakers','Celtics']
new_list = [x for x in teams if x in selected]
print new_list

['Lakers', 'Celtics']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [30]:
print [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]
print [str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [33]:
# my example
print [(x, y) for x in [12,24] for y in ["A","B"]]
print [str(x)+' vs '+str(y) for x in ['A','B','C','D'] for y in ['A','AA','AAA','AAAA'] if x!=y]

[(12, 'A'), (12, 'B'), (24, 'A'), (24, 'B')]
['A vs AA', 'A vs AAA', 'A vs AAAA', 'B vs A', 'B vs AA', 'B vs AAA', 'B vs AAAA', 'C vs A', 'C vs AA', 'C vs AAA', 'C vs AAAA', 'D vs A', 'D vs AA', 'D vs AAA', 'D vs AAAA']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.