<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [1]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [2]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [3]:
# my example
teams_list = ['Mercedes','Red Bull','Mclaren','Ferrari','Alpine','Alpha Tauri','Aston Martin','Williams','Alfa Romeo','Haas']
teams_list = np.array(teams_list)
print(teams_list, type(teams_list))

['Mercedes' 'Red Bull' 'Mclaren' 'Ferrari' 'Alpine' 'Alpha Tauri'
 'Aston Martin' 'Williams' 'Alfa Romeo' 'Haas'] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [4]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [5]:
# my example
matrix = np.array([['A','B'],['C','D']])
print(matrix, type(matrix))

[['A' 'B']
 ['C' 'D']] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [6]:
print(Ar.shape)

(2, 2)

In [7]:
# my example
print(matrix.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [8]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [9]:
# my example
print(matrix[0])
print(matrix[1])

['A' 'B']
['C' 'D']

If we want to access the matrix by column instead:

In [10]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [12]:
# my example
print('the first column: ', matrix[:,0])
print('the second column: ', matrix[:,1])

the first column:  ['A' 'C']
the second column:  ['B' 'D']

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [13]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [15]:
# my example
my_array = np.array([5,6,7,12,12,7,6,5])
print(np.log(my_array))

[1.60943791 1.79175947 1.94591015 2.48490665 2.48490665 1.94591015
 1.79175947 1.60943791]

Other functions return a single value:

In [16]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [17]:
# my example
print(np.mean(my_array))
print(np.std(my_array))
print(np.sum(my_array))
print(np.max(my_array))

7.5
2.692582403567252
60
12

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [18]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [19]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [21]:
# my example
my_list = [12,9,2019,22,5,11,10]
my_s = pd.Series(my_list)
my_s

0      12
1       9
2    2019
3      22
4       5
5      11
6      10
dtype: int64

We can customize the indices of a new Series:

In [22]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [24]:
# my example
my_s = pd.Series(my_list,index = ['p2','p4','p8','p16','p32','p64','p128'])
my_s

p2        12
p4         9
p8      2019
p16       22
p32        5
p64       11
p128      10
dtype: int64

Or we can change the indices of an existing Series:

In [25]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [27]:
# my example
my_s.index = [-7,-6,-5,-4,-3,-2,-1]
my_s

-7      12
-6       9
-5    2019
-4      22
-3       5
-2      11
-1      10
dtype: int64

Series is like a list since it can be sliced by index:

In [28]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [31]:
# my example
print(my_s[5:])
print(my_s[:-3])

-2    11
-1    10
dtype: int64
-7      12
-6       9
-5    2019
-4      22
dtype: int64

Series is also like a dictionary whose values can be set or fetched by index label:

In [32]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [34]:
# my example
print(my_s[-5])
my_s[-5] = 2024
print(my_s)

2019
-7      12
-6       9
-5    2024
-4      22
-3       5
-2      11
-1      10
dtype: int64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [35]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [37]:
# my example
my_s = pd.Series(my_list, name = 'My Sample Name')
print(my_s)
print(my_s.name)

0      12
1       9
2    2019
3      22
4       5
5      11
6      10
Name: My Sample Name, dtype: int64
My Sample Name

We can get the statistical summaries of a Series:

In [38]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [39]:
# my example
print(my_s.describe())

count       7.000000
mean      298.285714
std       758.781417
min         5.000000
25%         9.500000
50%        11.000000
75%        17.000000
max      2019.000000
Name: My Sample Name, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [40]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [54]:
# my example
my_time_index = pd.date_range('2019-09-12',periods = len(my_s),freq = 'M')
print(my_time_index)
my_s.index = my_time_index
print(my_s)

DatetimeIndex(['2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
               '2020-01-31', '2020-02-29', '2020-03-31'],
              dtype='datetime64[ns]', freq='M')
2019-09-30      12
2019-10-31       9
2019-11-30    2019
2019-12-31      22
2020-01-31       5
2020-02-29      11
2020-03-31      10
Freq: M, Name: My Sample Name, dtype: int64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [42]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [44]:
my_s.index = [7,6,5,4,3,2,1]
print(my_s)
print(my_s[1])

7      12
6       9
5    2019
4      22
3       5
2      11
1      10
Name: My Sample Name, dtype: int64
10

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [45]:
print(s.iloc[1])

145.83

In [46]:
# my example
print(my_s.iloc[1])

9

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [47]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [60]:
# my example
my_s.index = my_time_index
print(my_s['2019-12-31'])

22

We can even access to a range of dates:

In [61]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [62]:
# my example
print(my_s['2019-01-01':'2019-12-31'])

2019-09-30      12
2019-10-31       9
2019-11-30    2019
2019-12-31      22
Freq: M, Name: My Sample Name, dtype: int64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [63]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [66]:
# my example
print(my_s[my_s < np.mean(my_s)] )
print([(my_s > np.mean(my_s)) & (my_s < np.mean(my_s) + 1.64*np.std(my_s))])

2019-09-30    12
2019-10-31     9
2019-12-31    22
2020-01-31     5
2020-02-29    11
2020-03-31    10
Name: My Sample Name, dtype: int64
[2019-09-30    False
2019-10-31    False
2019-11-30    False
2019-12-31    False
2020-01-31    False
2020-02-29    False
2020-03-31    False
Freq: M, Name: My Sample Name, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.