# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 6.5 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=92c203d84d2b834c8a4642f1ff3039ab56585b779cc353caaa022f40202355d5
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [2]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 144.84, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.109, 'beta3Year': None, 'enterpriseToEbitda': 22.247, '52WeekChange': 0.24883604, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58701, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3047781, 'priceToBook': 37.310665, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2468024156160, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.896729, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 25.5, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 143.76, 'regularMarketOpen': 143.77, 'twoHundredDayAverage': 138.64877, 'trailingAnnualDividendYield': 0.0058082915, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 144.895, 'navPrice': None, 'averageDailyVolume10Day': 67784928, 'regularMarketPreviousClose': 143.76, 'fiftyDayAverage': 146.59706, 'trailingAnnualDividendRate': 0.835, 'open': 143.77, 'toCurrency': None, 'averageVolume10days': 67784928, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 143.515, 'currency': 'USD', 'trailingPE': 28.35552, 'regularMarketVolume': 65076405, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2394234028032, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 77415270, 'dayLow': 143.515, 'ask': 144.97, 'askSize': 1400, 'volume': 65076405, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 144.86, 'tradeable': False, 'dividendYield': 0.0061000003, 'bidSize': 1800, 'dayHigh': 144.895, 'regularMarketPrice': 144.84, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655166  24.291443  23.514540  ...  270597600        0.0             0
2016-01-05  24.379043  24.402096  23.609058  ...  223164000        0.0             0
2016-01-06  23.182571  23.599840  23.023503  ...  273829600        0.0             0
2016-01-07  22.749162  23.083437  22.230459  ...  324377600        0.0             0
2016-01-08  22.719197  22.848296  22.306540  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827749  42.004946  41.784649  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731065  40.893892  40.637678  ...   85992800        0.0             0
2017-12-28  40.946576  41.150113  40.822059  ...   65920800        0.0             0
2017-12-29  40.831625  40.848385  40.520335  ...  103999600        0.0             0

[503 rows x 7 columns]

In [3]:
# my example
import yfinance as yf

alphabet = yf.Ticker("GOOGL")

# get stock info
print(alphabet.info)

# get historical market data
alphabet_table = alphabet.history(start="2016-01-01",  end="2017-12-31")
alphabet_table

{'zip': '94043', 'sector': 'Communication Services', 'fullTimeEmployees': 144056, 'longBusinessSummary': 'Alphabet Inc. provides online advertising services in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. The company offers performance and brand advertising services. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment provides products and services, such as ads, Android, Chrome, hardware, Google Maps, Google Play, Search, and YouTube, as well as technical infrastructure; and digital content. The Google Cloud segment offers infrastructure and data analytics platforms, collaboration tools, and other services for enterprise customers. The Other Bets segment sells internet and TV services, as well as licensing and research and development services. The company was founded in 1998 and is headquartered in Mountain View, California.', 'city': 'Mountain View', 'phone': '650-253-0000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.abc.xyz', 'maxAge': 1, 'address1': '1600 Amphitheatre Parkway', 'industry': 'Internet Content & Information', 'ebitdaMargins': 0.34300998, 'profitMargins': 0.2857, 'grossMargins': 0.55723, 'operatingCashflow': 80858996736, 'revenueGrowth': 0.616, 'operatingMargins': 0.28448, 'ebitda': 75552997376, 'targetLowPrice': 1850, 'recommendationKey': 'buy', 'grossProfits': 97795000000, 'freeCashflow': 44609626112, 'targetMedianPrice': 3195, 'currentPrice': 2827.36, 'earningsGrowth': 1.691, 'currentRatio': 3.152, 'returnOnAssets': 0.12759, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 3165.69, 'debtToEquity': 11.829, 'returnOnEquity': 0.2829, 'targetHighPrice': 4288.52, 'totalCash': 135863001088, 'totalDebt': 28100999168, 'totalRevenue': 220265005056, 'totalCashPerShare': 203.768, 'financialCurrency': 'USD', 'revenuePerShare': 326.656, 'quickRatio': 3.027, 'recommendationMean': 1.7, 'exchange': 'NMS', 'shortName': 'Alphabet Inc.', 'longName': 'Alphabet Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'GOOGL', 'messageBoardId': 'finmb_29096', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 8.069, 'beta3Year': None, 'enterpriseToEbitda': 23.525, '52WeekChange': 0.84800816, 'morningStarRiskRating': None, 'forwardEps': 106.31, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 301084992, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 355.83, 'sharesShort': 2776429, 'sharesPercentSharesOut': 0.0042, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.80420995, 'netIncomeToCommon': 62928998400, 'trailingEps': 92.187, 'lastDividendValue': None, 'SandP52WeekChange': 0.3047781, 'priceToBook': 7.9458175, 'heldPercentInsiders': 0.00148, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 2, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 580783527, 'beta': 1.025925, 'enterpriseValue': 1777394122752, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1396483200, 'lastSplitFactor': '1998:1000', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 1.662, 'priceToSalesTrailing12Months': 8.567505, 'dateShortInterest': 1632960000, 'pegRatio': 1.16, 'ytdReturn': None, 'forwardPE': 26.59543, 'lastCapGain': None, 'shortPercentOfFloat': 0.0092, 'sharesShortPriorMonth': 2994031, 'impliedSharesOutstanding': 666755008, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 2823.02, 'regularMarketOpen': 2832.29, 'twoHundredDayAverage': 2545.0764, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 2834.36, 'navPrice': None, 'averageDailyVolume10Day': 1340757, 'regularMarketPreviousClose': 2823.02, 'fiftyDayAverage': 2807.2344, 'trailingAnnualDividendRate': None, 'open': 2832.29, 'toCurrency': None, 'averageVolume10days': 1340757, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 2815.1, 'currency': 'USD', 'trailingPE': 30.669836, 'regularMarketVolume': 1513722, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 1887121440768, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 1368679, 'dayLow': 2815.1, 'ask': 2835, 'askSize': 800, 'volume': 1513722, 'fiftyTwoWeekHigh': 2925.08, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 1508.48, 'bid': 2826.05, 'tradeable': False, 'dividendYield': None, 'bidSize': 800, 'dayHigh': 2834.36, 'regularMarketPrice': 2827.36, 'logo_url': 'https://logo.clearbit.com/abc.xyz'}

                   Open         High  ...  Dividends  Stock Splits
Date                                  ...
2016-01-04   762.200012   762.200012  ...          0             0
2016-01-05   764.099976   769.200012  ...          0             0
2016-01-06   750.369995   765.729980  ...          0             0
2016-01-07   746.489990   755.309998  ...          0             0
2016-01-08   747.799988   750.119995  ...          0             0
...                 ...          ...  ...        ...           ...
2017-12-22  1070.000000  1071.719971  ...          0             0
2017-12-26  1068.640015  1068.859985  ...          0             0
2017-12-27  1066.599976  1068.270020  ...          0             0
2017-12-28  1062.250000  1064.839966  ...          0             0
2017-12-29  1055.489990  1058.050049  ...          0             0

[503 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [4]:
aapl = aapl_table['Close']['2017']

In [8]:
# my example
alphabet = alphabet_table['Close']['2017']

In [6]:
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341724
2017-01-05    27.480766
2017-01-06    27.787130
2017-01-09    28.041643
                ...
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850792
2017-12-28    40.965733
2017-12-29    40.522728
Name: Close, Length: 251, dtype: float64

In [9]:
# my example
print(alphabet)

Date
2017-01-03     808.010010
2017-01-04     807.770020
2017-01-05     813.020020
2017-01-06     825.210022
2017-01-09     827.179993
                 ...
2017-12-22    1068.859985
2017-12-26    1065.849976
2017-12-27    1060.199951
2017-12-28    1055.949951
2017-12-29    1053.400024
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [10]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889839
2017-03-03    33.083920
2017-03-06    32.979774
2017-03-07    33.022385
2017-03-08    32.899303
2017-03-09    32.823559
2017-03-10    32.932430
2017-03-13    32.946648
2017-03-14    32.896931
2017-03-15    33.244862
2017-03-16    33.299301
2017-03-17    33.133617
2017-03-20    33.481556
2017-03-21    33.098114
2017-03-22    33.472084
2017-03-23    33.353741
2017-03-24    33.287472
2017-03-27    33.344265
2017-03-28    34.035385
2017-03-29    34.111134
2017-03-30    34.066158
2017-03-31    34.002251
Name: Close, dtype: float64

In [11]:
# my example
print(alphabet['2017-3'])

Date
2017-03-01    856.750000
2017-03-02    849.849976
2017-03-03    849.080017
2017-03-06    847.270020
2017-03-07    851.150024
2017-03-08    853.640015
2017-03-09    857.840027
2017-03-10    861.409973
2017-03-13    864.580017
2017-03-14    865.909973
2017-03-15    868.390015
2017-03-16    870.000000
2017-03-17    872.369995
2017-03-20    867.909973
2017-03-21    850.140015
2017-03-22    849.799988
2017-03-23    839.650024
2017-03-24    835.140015
2017-03-27    838.510010
2017-03-28    840.630005
2017-03-29    849.869995
2017-03-30    849.479980
2017-03-31    847.799988
Name: Close, dtype: float64

In [12]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341728
2017-02-02    30.289875
2017-02-03    30.419497
2017-02-06    30.704643
2017-02-07    30.996870
                ...
2017-04-24    33.997520
2017-04-25    34.208172
2017-04-26    34.007000
2017-04-27    34.033031
2017-04-28    33.999882
Name: Close, Length: 61, dtype: float64

In [13]:
# my example
alphabet['2017-2':'2017-4']

Date
2017-02-01    815.239990
2017-02-02    818.260010
2017-02-03    820.130005
2017-02-06    821.619995
2017-02-07    829.229980
                 ...
2017-04-24    878.929993
2017-04-25    888.840027
2017-04-26    889.140015
2017-04-27    891.440002
2017-04-28    924.520020
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [14]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341724
2017-01-05    27.480766
2017-01-06    27.787130
2017-01-09    28.041643
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244404
2017-12-19    41.794235
2017-12-20    41.748737
2017-12-21    41.906769
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850792
2017-12-28    40.965733
2017-12-29    40.522728
Name: Close, dtype: float64

In [15]:
# my example
print(alphabet.head(5))
print(alphabet.tail(10))

Date
2017-01-03    808.010010
2017-01-04    807.770020
2017-01-05    813.020020
2017-01-06    825.210022
2017-01-09    827.179993
Name: Close, dtype: float64
Date
2017-12-15    1072.000000
2017-12-18    1085.089966
2017-12-19    1079.780029
2017-12-20    1073.560059
2017-12-21    1070.849976
2017-12-22    1068.859985
2017-12-26    1065.849976
2017-12-27    1060.199951
2017-12-28    1055.949951
2017-12-29    1053.400024
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [16]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606275
2017-03-31    33.282218
2017-04-30    33.819262
2017-05-31    36.125684
2017-06-30    35.133985
2017-07-31    35.245241
2017-08-31    37.897228
2017-09-30    37.604737
2017-10-31    37.654551
2017-11-30    41.233915
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [18]:
# my example
alphabet_by_month = alphabet.resample('M').mean()
print(alphabet_by_month)

Date
2017-01-31     830.249509
2017-02-28     836.754735
2017-03-31     853.790002
2017-04-30     861.377898
2017-05-31     961.654549
2017-06-30     973.368638
2017-07-31     963.443506
2017-08-31     937.960874
2017-09-30     945.884497
2017-10-31     999.145006
2017-11-30    1046.983346
2017-12-31    1053.917487
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [19]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495496
2017-01-15    28.097734
2017-01-22    28.266118
2017-01-29    28.553980
2017-02-05    29.662542
Freq: W-SUN, Name: Close, dtype: float64

In [20]:
# my example
alphabet_by_week = alphabet.resample('W').mean()
print(alphabet_by_week.head())

Date
2017-01-08    813.502518
2017-01-15    828.704004
2017-01-22    827.255005
2017-01-29    850.884009
2017-02-05    819.530005
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [21]:
aapl.resample('M').max()

Date
2017-01-31    28.739210
2017-02-28    32.451962
2017-03-31    34.111134
2017-04-30    34.264977
2017-05-31    37.099136
2017-06-30    36.944653
2017-07-31    36.471703
2017-08-31    39.129723
2017-09-30    39.141651
2017-10-31    40.332249
2017-11-30    42.050140
2017-12-31    42.244404
Freq: M, Name: Close, dtype: float64

In [22]:
# my example
alphabet.resample('M').max()

Date
2017-01-31     858.450012
2017-02-28     851.359985
2017-03-31     872.369995
2017-04-30     924.520020
2017-05-31     996.169983
2017-06-30    1004.280029
2017-07-31     998.309998
2017-08-31     955.239990
2017-09-30     973.719971
2017-10-31    1033.670044
2017-11-30    1072.010010
2017-12-31    1085.089966
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [23]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398284
2017-01-06    27.787130
2017-01-09    28.110774
2017-01-12    28.078174
2017-01-15    28.279669
                ...
2017-12-17    42.019320
2017-12-20    41.854092
2017-12-23          NaN
2017-12-26    40.886709
2017-12-29    40.522728
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495496
2017-01-22    28.172571
2017-02-05    29.108261
2017-02-19    31.516816
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625216
2017-04-16    33.849725
2017-04-30    33.791846
2017-05-14    35.697632
2017-05-28    36.496178
2017-06-11    36.515009
2017-06-25    34.529046
2017-07-09    34.265136
2017-07-23    35.278871
2017-08-06    36.272774
2017-08-20    37.904118
2017-09-03    38.458792
2017-09-17    38.282707
2017-10-01    36.840873
2017-10-15    37.071595
2017-10-29    37.757321
2017-11-12    41.032238
2017-11-26    41.204379
2017-12-10    40.867064
2017-12-24    41.620867
2018-01-07    40.795713
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524053
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761186
2017-11-30    39.402613
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [27]:
# my example
alphabet_three_day = alphabet.resample('3D').mean()
alphabet_two_week = alphabet.resample('2W').mean()
alphabet_two_month = alphabet.resample('2M').mean()


print(alphabet_three_day)
print(alphabet_two_week)
print(alphabet_two_month)

Date
2017-01-03     809.600016
2017-01-06     825.210022
2017-01-09     827.683329
2017-01-12     830.235016
2017-01-15     827.460022
                 ...
2017-12-17    1082.434998
2017-12-20    1071.090007
2017-12-23            NaN
2017-12-26    1060.666626
2017-12-29    1053.400024
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08     813.502518
2017-01-22     828.060004
2017-02-05     835.207007
2017-02-19     835.066998
2017-03-05     849.968886
2017-03-19     861.256006
2017-04-02     846.892999
2017-04-16     845.405551
2017-04-30     875.753009
2017-05-14     950.463013
2017-05-28     966.850995
2017-06-11     993.792223
2017-06-25     970.454999
2017-07-09     940.990011
2017-07-23     975.966003
2017-08-06     956.928003
2017-08-20     935.882007
2017-09-03     938.598004
2017-09-17     943.399997
2017-10-01     947.509998
2017-10-15     988.444006
2017-10-29    1003.058002
2017-11-12    1044.696008
2017-11-26    1044.112237
2017-12-10    1039.205994
2017-12-24    1065.973999
2018-01-07    1058.849976
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31     830.249509
2017-03-31     846.083572
2017-05-31     915.184881
2017-07-31     968.642385
2017-09-30     941.646280
2017-11-30    1022.507916
2018-01-31    1053.917487
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [26]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245285
2017-02-05    0.943260
2017-02-12    0.252003
2017-02-19    0.231389
2017-02-26    0.059343
2017-03-05    0.340090
2017-03-12    0.076288
2017-03-19    0.177833
2017-03-26    0.157267
2017-04-02    0.319809
2017-04-09    0.128691
2017-04-16    0.212476
2017-04-23    0.174673
2017-04-30    0.090024
2017-05-07    0.235639
2017-05-14    0.352985
2017-05-21    0.536097
2017-05-28    0.060393
2017-06-04    0.281223
2017-06-11    0.620038
2017-06-18    0.382561
2017-06-25    0.128893
2017-07-02    0.264111
2017-07-09    0.158890
2017-07-16    0.404277
2017-07-23    0.124990
2017-07-30    0.384442
2017-08-06    0.924389
2017-08-13    0.467468
2017-08-20    0.435251
2017-08-27    0.275768
2017-09-03    0.251724
2017-09-10    0.381640
2017-09-17    0.294140
2017-09-24    0.735197
2017-10-01    0.354846
2017-10-08    0.204857
2017-10-15    0.118731
2017-10-22    0.517003
2017-10-29    0.680455
2017-11-05    0.560680
2017-11-12    0.190972
2017-11-19    0.436198
2017-11-26    0.563049
2017-12-03    0.427445
2017-12-10    0.073133
2017-12-17    0.205268
2017-12-24    0.194123
2017-12-31    0.190398
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787130
2017-01-15    28.220751
2017-01-22    28.279669
2017-01-29    28.739210
2017-02-05    30.419497
2017-02-12    31.341909
2017-02-19    32.122967
2017-02-26    32.451962
2017-03-05    33.086285
2017-03-12    33.022385
2017-03-19    33.299301
2017-03-26    33.481556
2017-04-02    34.111134
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713509
2017-04-30    34.208172
2017-05-07    35.256695
2017-05-14    37.099136
2017-05-21    37.004070
2017-05-28    36.597664
2017-06-04    36.944653
2017-06-11    36.925640
2017-06-18    34.838955
2017-06-25    34.779549
2017-07-02    34.658344
2017-07-09    34.266193
2017-07-16    35.421223
2017-07-23    35.891804
2017-07-30    36.471703
2017-08-06    37.346294
2017-08-13    38.277931
2017-08-20    38.557091
2017-08-27    38.170567
2017-09-03    39.141651
2017-09-10    38.671608
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798641
2017-10-08    37.075417
2017-10-15    37.457169
2017-10-22    38.287487
2017-10-29    38.903057
2017-11-05    41.157784
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897205
2017-12-03    41.686474
2017-12-10    40.659225
2017-12-17    41.657745
2017-12-24    42.244404
2017-12-31    40.965733
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041643
2017-01-22    28.227823
2017-01-29    28.272600
2017-02-05    28.597813
2017-02-12    30.704643
2017-02-19    31.547831
2017-02-26    32.314690
2017-03-05    32.409370
2017-03-12    32.823559
2017-03-19    32.896931
2017-03-26    33.098114
2017-04-02    33.344265
2017-04-09    33.926510
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997520
2017-05-07    34.681549
2017-05-14    36.215263
2017-05-21    35.708797
2017-05-28    36.443176
2017-06-04    36.305340
2017-06-11    35.406967
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147366
2017-07-09    33.921581
2017-07-16    34.475334
2017-07-23    35.544815
2017-07-30    35.530548
2017-08-06    35.347553
2017-08-13    37.058712
2017-08-20    37.578850
2017-08-27    37.509655
2017-09-03    38.526077
2017-09-10    37.848457
2017-09-17    37.764954
2017-09-24    36.240322
2017-10-01    35.920609
2017-10-08    36.619698
2017-10-15    37.182785
2017-10-22    37.216183
2017-10-29    37.261517
2017-11-05    39.778713
2017-11-12    41.575333
2017-11-19    40.486820
2017-11-26    40.702320
2017-12-03    40.582592
2017-12-10    40.470047
2017-12-17    41.114174
2017-12-24    41.748737
2017-12-31    40.522728
Freq: W-SUN, Name: Close, dtype: float64

In [28]:
# my example
alphabet_std = alphabet.resample('W').std()
alphabet_max = alphabet.resample('W').max()
alphabet_min = alphabet.resample('W').min()


print(alphabet_std)
print(alphabet_max)
print(alphabet_min)

Date
2017-01-08     8.171651
2017-01-15     2.037064
2017-01-22     2.026308
2017-01-29     6.560525
2017-02-05     3.134598
2017-02-12     4.758037
2017-02-19     3.564258
2017-02-26     1.643182
2017-03-05     4.249400
2017-03-12     5.541995
2017-03-19     3.122538
2017-03-26    12.628678
2017-04-02     5.303561
2017-04-09     5.822352
2017-04-16     0.908543
2017-04-23     2.552600
2017-04-30    17.419297
2017-05-07     9.282256
2017-05-14     1.542306
2017-05-21     8.546596
2017-05-28    12.885440
2017-06-04     4.906050
2017-06-11    14.393003
2017-06-18     5.144014
2017-06-25     6.176122
2017-07-02    17.130013
2017-07-09     8.914012
2017-07-16    10.970014
2017-07-23     7.414408
2017-07-30    17.734185
2017-08-06     2.839130
2017-08-13     9.552255
2017-08-20     7.786691
2017-08-27     8.764540
2017-09-03    11.232764
2017-09-10     4.135671
2017-09-17     5.837673
2017-09-24     7.656422
2017-10-01    17.349222
2017-10-08    11.868410
2017-10-15     9.133115
2017-10-22     4.467104
2017-10-29    20.025266
2017-11-05     7.252927
2017-11-12     6.381397
2017-11-19     5.075514
2017-11-26     9.499338
2017-12-03    19.883361
2017-12-10    15.959889
2017-12-17     9.319530
2017-12-24     6.702240
2017-12-31     5.444708
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08     825.210022
2017-01-15     830.940002
2017-01-22     829.020020
2017-01-29     858.450012
2017-02-05     823.830017
2017-02-12     834.849976
2017-02-19     846.549988
2017-02-26     851.359985
2017-03-05     856.750000
2017-03-12     861.409973
2017-03-19     872.369995
2017-03-26     867.909973
2017-04-02     849.869995
2017-04-09     856.750000
2017-04-16     841.700012
2017-04-23     860.080017
2017-04-30     924.520020
2017-05-07     954.719971
2017-05-14     958.690002
2017-05-21     964.609985
2017-05-28     993.270020
2017-06-04     996.169983
2017-06-11    1004.280029
2017-06-18     970.500000
2017-06-25     986.090027
2017-07-02     972.090027
2017-07-09     940.809998
2017-07-16     976.909973
2017-07-23     993.840027
2017-07-30     998.309998
2017-08-06     947.640015
2017-08-13     945.750000
2017-08-20     944.270020
2017-08-27     942.580017
2017-09-03     955.239990
2017-09-10     949.890015
2017-09-17     950.440002
2017-09-24     947.549988
2017-10-01     973.719971
2017-10-08     993.640015
2017-10-15    1007.869995
2017-10-22    1012.739990
2017-10-29    1033.670044
2017-11-05    1049.989990
2017-11-12    1058.290039
2017-11-19    1048.469971
2017-11-26    1056.520020
2017-12-03    1072.010010
2017-12-10    1049.380005
2017-12-17    1072.000000
2017-12-24    1085.089966
2017-12-31    1065.849976
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08     807.770020
2017-01-15     826.010010
2017-01-22     824.369995
2017-01-29     844.429993
2017-02-05     815.239990
2017-02-12     821.619995
2017-02-19     837.320007
2017-02-26     847.809998
2017-03-05     844.929993
2017-03-12     847.270020
2017-03-19     864.580017
2017-03-26     835.140015
2017-04-02     838.510010
2017-04-09     842.099976
2017-04-16     839.880005
2017-04-23     853.989990
2017-04-30     878.929993
2017-05-07     932.820007
2017-05-14     954.840027
2017-05-21     942.169983
2017-05-28     964.070007
2017-06-04     987.090027
2017-06-11     970.119995
2017-06-18     958.619995
2017-06-25     968.989990
2017-07-02     929.679993
2017-07-09     919.460022
2017-07-16     951.000000
2017-07-23     975.960022
2017-07-30     952.510010
2017-08-06     940.299988
2017-08-13     923.590027
2017-08-20     926.179993
2017-08-27     920.869995
2017-09-03     928.130005
2017-09-10     941.409973
2017-09-17     935.289978
2017-09-24     929.750000
2017-10-01     934.280029
2017-10-08     966.780029
2017-10-15     987.799988
2017-10-22    1001.840027
2017-10-29     985.539978
2017-11-05    1033.040039
2017-11-12    1042.680054
2017-11-19    1035.890015
2017-11-26    1034.660034
2017-12-03    1025.069946
2017-12-10    1011.869995
2017-12-17    1048.770020
2017-12-24    1068.859985
2017-12-31    1053.400024
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [29]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597813
2017-02-28    32.423565
2017-03-31    34.002251
2017-04-30    33.999882
2017-05-31    36.305340
2017-06-30    34.228161
2017-07-31    35.347553
2017-08-31    39.129723
2017-09-30    36.772400
2017-10-31    40.332249
2017-11-30    41.150101
2017-12-31    40.522728
Freq: M, Name: Close, dtype: float64

In [30]:
# my example
alphabet_last_day = alphabet.resample('M').agg(lambda x: x[-1])
print(alphabet_last_day)

Date
2017-01-31     820.190002
2017-02-28     844.929993
2017-03-31     847.799988
2017-04-30     924.520020
2017-05-31     987.090027
2017-06-30     929.679993
2017-07-31     945.500000
2017-08-31     955.239990
2017-09-30     973.719971
2017-10-31    1033.040039
2017-11-30    1036.170044
2017-12-31    1053.400024
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [31]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099019
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [32]:
# my example
alphabet_monthly_return = alphabet.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(alphabet_monthly_return)

Date
2017-01-31    0.015074
2017-02-28    0.036419
2017-03-31   -0.010446
2017-04-30    0.079101
2017-05-31    0.058178
2017-06-30   -0.059304
2017-07-31    0.028321
2017-08-31    0.009170
2017-09-30    0.022826
2017-10-31    0.067775
2017-11-30   -0.006167
2017-12-31    0.027637
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [33]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.0268632829336789
0.052258530635744954
0.09901851007954865

In [34]:
# my example
print(alphabet_monthly_return.mean())
print(alphabet_monthly_return.std())
print(alphabet_monthly_return.max())

0.02238193569572126
0.03767382052951203
0.07910127753866347

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [35]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825752
2017-03-31    1.578686
2017-04-30   -0.002369
2017-05-31    2.305458
2017-06-30   -2.077179
2017-07-31    1.119392
2017-08-31    3.782169
2017-09-30   -2.357323
2017-10-31    3.559849
2017-11-30    0.817852
2017-12-31   -0.627373
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [36]:
# my example
print(alphabet_last_day.diff())
print(alphabet_last_day.pct_change())

Date
2017-01-31          NaN
2017-02-28    24.739990
2017-03-31     2.869995
2017-04-30    76.720032
2017-05-31    62.570007
2017-06-30   -57.410034
2017-07-31    15.820007
2017-08-31     9.739990
2017-09-30    18.479980
2017-10-31    59.320068
2017-11-30     3.130005
2017-12-31    17.229980
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.030164
2017-03-31    0.003397
2017-04-30    0.090493
2017-05-31    0.067678
2017-06-30   -0.058161
2017-07-31    0.017017
2017-08-31    0.010301
2017-09-30    0.019346
2017-10-31    0.060921
2017-11-30    0.003030
2017-12-31    0.016629
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [37]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [38]:
alphabet_daily_return = alphabet_last_day.pct_change()
print(alphabet_daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.030164
2017-03-31    0.003397
2017-04-30    0.090493
2017-05-31    0.067678
2017-06-30   -0.058161
2017-07-31    0.017017
2017-08-31    0.010301
2017-09-30    0.019346
2017-10-31    0.060921
2017-11-30    0.003030
2017-12-31    0.016629
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [41]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [40]:
# my example
alphabet_daily_return = alphabet_last_day.pct_change()
print(alphabet_daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.030164
2017-02-28    0.030164
2017-03-31    0.003397
2017-04-30    0.090493
2017-05-31    0.067678
2017-06-30   -0.058161
2017-07-31    0.017017
2017-08-31    0.010301
2017-09-30    0.019346
2017-10-31    0.060921
2017-11-30    0.003030
2017-12-31    0.016629
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [42]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [43]:
alphabet_daily_return = alphabet_last_day.pct_change()
alphabet_daily_return.dropna()

Date
2017-02-28    0.030164
2017-03-31    0.003397
2017-04-30    0.090493
2017-05-31    0.067678
2017-06-30   -0.058161
2017-07-31    0.017017
2017-08-31    0.010301
2017-09-30    0.019346
2017-10-31    0.060921
2017-11-30    0.003030
2017-12-31    0.016629
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [45]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [46]:
# my example
import pandas as pd

my_dict = {'ExA': [1,2,3,4,5],'ExB':[10,15,20,25,30],
        'ExC':[200,100,50,25,12.5]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
my_df = pd.DataFrame(my_dict, index = data_index)
print(my_df)

            ExA  ExB    ExC
2017-07-03    1   10  200.0
2017-07-04    2   15  100.0
2017-07-05    3   20   50.0
2017-07-06    4   25   25.0
2017-07-07    5   30   12.5

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [47]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850792
2017-12-28    40.965733
2017-12-29    40.522728
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [48]:
# my example
my_df = alphabet_table
print(my_df.Close.tail(5))
print(my_df['Volume'].tail(5))

Date
2017-12-22    1068.859985
2017-12-26    1065.849976
2017-12-27    1060.199951
2017-12-28    1055.949951
2017-12-29    1053.400024
Name: Close, dtype: float64
Date
2017-12-22     889400
2017-12-26     918800
2017-12-27    1116200
2017-12-28     994200
2017-12-29    1180300
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [49]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852382  22.440245  21.750946  ...  257666000        0.0             0
2016-02-29  22.450755  22.768302  22.402081  ...  140865200        0.0             0
2016-03-31  25.431522  25.473243  25.236821  ...  103553600        0.0             0
2016-04-30  21.785535  21.954739  21.442493  ...  274126000        0.0             0
2016-05-31  23.226401  23.412960  23.044508  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646394  26.782382  26.540886  ...  105677600        0.0             0
2016-11-30  26.300090  26.441488  25.986656  ...  144649200        0.0             0
2016-12-31  27.490199  27.619813  27.202689  ...  122345200        0.0             0

[12 rows x 7 columns]

In [50]:
# my example
alphabet_2016 = my_df['2016']
alphabet_month = alphabet_2016.resample('M').agg(lambda x: x[-1])
print(alphabet_month)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2016-01-31  748.960022  765.109985  ...          0             0
2016-02-29  721.000000  730.599976  ...          0             0
2016-03-31  768.340027  769.080017  ...          0             0
2016-04-30  704.119995  712.109985  ...          0             0
2016-05-31  748.760010  753.479980  ...          0             0
2016-06-30  697.650024  703.770020  ...          0             0
2016-07-31  797.710022  803.940002  ...          0             0
2016-08-31  789.599976  791.570007  ...          0             0
2016-09-30  803.599976  808.090027  ...          0             0
2016-10-31  822.429993  822.630005  ...          0             0
2016-11-30  789.099976  791.510010  ...          0             0
2016-12-31  803.210022  803.289978  ...          0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [51]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245
2016-02-29  22.450755  22.768302  22.402081  22.411352
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785535  21.954739  21.442493  21.727589
2016-05-31  23.226401  23.412960  23.044508  23.287033
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490199  27.619813  27.202689  27.294598

In [52]:
# my example
alphabet_bar = alphabet_month[['Open', 'High', 'Low', 'Close']]
print(alphabet_bar)

                  Open        High         Low       Close
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976
2016-02-29  721.000000  730.599976  716.840027  717.219971
2016-03-31  768.340027  769.080017  758.250000  762.900024
2016-04-30  704.119995  712.109985  703.780029  707.880005
2016-05-31  748.760010  753.479980  745.570007  748.849976
2016-06-30  697.650024  703.770020  694.900024  703.530029
2016-07-31  797.710022  803.940002  790.000000  791.340027
2016-08-31  789.599976  791.570007  787.200012  789.849976
2016-09-30  803.599976  808.090027  801.500000  804.059998
2016-10-31  822.429993  822.630005  808.000000  809.900024
2016-11-30  789.099976  791.510010  773.150024  775.880005
2016-12-31  803.210022  803.289978  789.619995  792.450012

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [53]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785535  21.954739  21.442493  21.727589
2016-05-31  23.226401  23.412960  23.044508  23.287033
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [54]:
# my example
print(alphabet_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                  Open        High         Low       Close
Date
2016-03-31  768.340027  769.080017  758.250000  762.900024
2016-04-30  704.119995  712.109985  703.780029  707.880005
2016-05-31  748.760010  753.479980  745.570007  748.849976
2016-06-30  697.650024  703.770020  694.900024  703.530029

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [55]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490199  27.619813  27.202689  27.294598

In [56]:
# my example
import numpy as np

alphabet_above = alphabet_bar[alphabet_bar.Close > np.mean(alphabet_bar.Close)]
print(alphabet_above)

                  Open        High         Low       Close
Date
2016-07-31  797.710022  803.940002  790.000000  791.340027
2016-08-31  789.599976  791.570007  787.200012  789.849976
2016-09-30  803.599976  808.090027  801.500000  804.059998
2016-10-31  822.429993  822.630005  808.000000  809.900024
2016-11-30  789.099976  791.510010  773.150024  775.880005
2016-12-31  803.210022  803.289978  789.619995  792.450012

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [61]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
# my example
alphabet_bar['rate_return'] = alphabet_bar.Close.pct_change()
print(alphabet_bar)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976          NaN
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [63]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [65]:
# my example
alphabet_missing = alphabet_bar.isnull()
print(alphabet_missing)
print('---------------------------------------------')
print(alphabet_missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [67]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [68]:
# my example
print(alphabet_missing[alphabet_missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [69]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245     0.000000
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955

In [70]:
# my example
alphabet_drop = alphabet_bar.dropna()
print(alphabet_drop)
print('\n--------------------------------------------------\n')
alphabet_fill = alphabet_bar.fillna(0)
print(alphabet_fill)

                  Open        High         Low       Close  rate_return
Date
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976     0.000000
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [72]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [75]:
# my example
my_s1 = pd.Series([1,2,4,8,16], name = 'pot2')
my_s2 = pd.Series([1,3,9,27,81], name = 'pot3')
my_data_frame = pd.concat([my_s1,my_s2], axis = 1)
print(my_data_frame)

   pot2  pot3
0     1     1
1     2     3
2     4     9
3     8    27
4    16    81

The "axis = 1" parameter will join two DataFrames by columns:

In [76]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN   3.110856
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288   3.109568
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211   3.229314
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921   3.078583
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504   3.277361
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334   3.281685
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601   3.259848
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955   3.306689

In [77]:
# my example
alphabet_log_price = np.log(alphabet_bar.Close)
alphabet_log_price.name = 'log_price'
print(alphabet_log_price)
print('\n---------------------- separate line--------------------\n')
alphabet_concat = pd.concat([alphabet_bar, alphabet_log_price], axis = 1)
print(alphabet_concat)

Date
2016-01-31    6.635093
2016-02-29    6.575383
2016-03-31    6.637127
2016-04-30    6.562275
2016-05-31    6.618539
2016-06-30    6.556111
2016-07-31    6.673728
2016-08-31    6.671843
2016-09-30    6.689674
2016-10-31    6.696911
2016-11-30    6.653998
2016-12-31    6.675129
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High  ...  rate_return  log_price
Date                                ...
2016-01-31  748.960022  765.109985  ...          NaN   6.635093
2016-02-29  721.000000  730.599976  ...    -0.057963   6.575383
2016-03-31  768.340027  769.080017  ...     0.063690   6.637127
2016-04-30  704.119995  712.109985  ...    -0.072120   6.562275
2016-05-31  748.760010  753.479980  ...     0.057877   6.618539
2016-06-30  697.650024  703.770020  ...    -0.060519   6.556111
2016-07-31  797.710022  803.940002  ...     0.124813   6.673728
2016-08-31  789.599976  791.570007  ...    -0.001883   6.671843
2016-09-30  803.599976  808.090027  ...     0.017991   6.689674
2016-10-31  822.429993  822.630005  ...     0.007263   6.696911
2016-11-30  789.099976  791.510010  ...    -0.042005   6.653998
2016-12-31  803.210022  803.289978  ...     0.021356   6.675129

[12 rows x 6 columns]

We can also join two DataFrames by rows. Consider these two DataFrames:

In [78]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490199  27.619813  27.202689  27.294598
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444866  32.530073  32.354924  32.423565
2017-03-31  34.016451  34.146629  33.848403  34.002251
2017-04-30  34.104024  34.153730  33.909944  33.999882

In [79]:
# my example
alphabet_df_volume = alphabet_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(alphabet_df_volume)
print('\n---------------------- separate line--------------------\n')
alphabet_df_2017 = alphabet_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(alphabet_df_2017)

             Volume  Stock Splits
Date
2016-10-31  2242700             0
2016-11-30  2279100             0
2016-12-31  1735900             0
2017-01-31  2020200             0
2017-02-28  1383100             0
2017-03-31  1441000             0
2017-04-30  3845900             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2016-10-31  822.429993  822.630005  808.000000  809.900024
2016-11-30  789.099976  791.510010  773.150024  775.880005
2016-12-31  803.210022  803.289978  789.619995  792.450012
2017-01-31  819.500000  823.070007  813.400024  820.190002
2017-02-28  847.349976  848.830017  841.440002  844.929993
2017-03-31  846.830017  849.559998  845.239990  847.799988
2017-04-30  929.000000  935.900024  923.219971  924.520020

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [80]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852382  22.440245  ...          NaN           NaN
2016-02-29  22.450755  22.768302  ...          NaN           NaN
2016-03-31  25.431522  25.473243  ...          NaN           NaN
2016-04-30  21.785535  21.954739  ...          NaN           NaN
2016-05-31  23.226401  23.412960  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646394  26.782382  ...  105677600.0           0.0
2016-11-30  26.300090  26.441488  ...  144649200.0           0.0
2016-12-31  27.490199  27.619813  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [81]:
# my example
alphabet_concat = pd.concat([alphabet_bar, alphabet_df_volume], axis = 1)
print(alphabet_concat)

                  Open        High  ...     Volume  Stock Splits
Date                                ...
2016-01-31  748.960022  765.109985  ...        NaN           NaN
2016-02-29  721.000000  730.599976  ...        NaN           NaN
2016-03-31  768.340027  769.080017  ...        NaN           NaN
2016-04-30  704.119995  712.109985  ...        NaN           NaN
2016-05-31  748.760010  753.479980  ...        NaN           NaN
2016-06-30  697.650024  703.770020  ...        NaN           NaN
2016-07-31  797.710022  803.940002  ...        NaN           NaN
2016-08-31  789.599976  791.570007  ...        NaN           NaN
2016-09-30  803.599976  808.090027  ...        NaN           NaN
2016-10-31  822.429993  822.630005  ...  2242700.0           0.0
2016-11-30  789.099976  791.510010  ...  2279100.0           0.0
2016-12-31  803.210022  803.289978  ...  1735900.0           0.0
2017-01-31         NaN         NaN  ...  2020200.0           0.0
2017-02-28         NaN         NaN  ...  1383100.0           0.0
2017-03-31         NaN         NaN  ...  1441000.0           0.0
2017-04-30         NaN         NaN  ...  3845900.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [82]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646394  26.782382  ...  105677600             0
2016-11-30  26.300090  26.441488  ...  144649200             0
2016-12-31  27.490199  27.619813  ...  122345200             0

[3 rows x 7 columns]

In [83]:
# my example
alphabet_concat = pd.concat([alphabet_bar,alphabet_df_volume],axis = 1, join = 'inner')
print(alphabet_concat)

                  Open        High  ...   Volume  Stock Splits
Date                                ...
2016-10-31  822.429993  822.630005  ...  2242700             0
2016-11-30  789.099976  791.510010  ...  2279100             0
2016-12-31  803.210022  803.289978  ...  1735900             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [84]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490199  27.619813  27.202689  27.294598          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016451  34.146629  33.848403  34.002251          NaN
2017-04-30  34.104024  34.153730  33.909944  33.999882          NaN

In [85]:
# my example
alphabet_append = alphabet_bar.append(alphabet_df_2017)
print(alphabet_append)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976          NaN
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356
2016-10-31  822.429993  822.630005  808.000000  809.900024          NaN
2016-11-30  789.099976  791.510010  773.150024  775.880005          NaN
2016-12-31  803.210022  803.289978  789.619995  792.450012          NaN
2017-01-31  819.500000  823.070007  813.400024  820.190002          NaN
2017-02-28  847.349976  848.830017  841.440002  844.929993          NaN
2017-03-31  846.830017  849.559998  845.239990  847.799988          NaN
2017-04-30  929.000000  935.900024  923.219971  924.520020          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [86]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490199  27.619813  27.202689  27.294598          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444866  32.530073  32.354924  32.423565          NaN
2017-03-31  34.016451  34.146629  33.848403  34.002251          NaN
2017-04-30  34.104024  34.153730  33.909944  33.999882          NaN

In [87]:
# my example
alphabet_concat = pd.concat([alphabet_bar, alphabet_df_2017], axis = 0)
print(alphabet_concat)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976          NaN
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356
2016-10-31  822.429993  822.630005  808.000000  809.900024          NaN
2016-11-30  789.099976  791.510010  773.150024  775.880005          NaN
2016-12-31  803.210022  803.289978  789.619995  792.450012          NaN
2017-01-31  819.500000  823.070007  813.400024  820.190002          NaN
2017-02-28  847.349976  848.830017  841.440002  844.929993          NaN
2017-03-31  846.830017  849.559998  845.239990  847.799988          NaN
2017-04-30  929.000000  935.900024  923.219971  924.520020          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [88]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN        NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288        NaN
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211        NaN
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921        NaN
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504        NaN
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334        NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601        NaN
2016-12-31  27.490199  27.619813  27.202689  27.294598     0.047955        NaN
2016-10-31        NaN  26.782382  26.540886  26.620604          NaN  26.646394
2016-11-30        NaN  26.441488  25.986656  26.045572          NaN  26.300090
2016-12-31        NaN  27.619813  27.202689  27.294598          NaN  27.490199
2017-01-31        NaN  28.607239  28.425779  28.597813          NaN  28.550681
2017-02-28        NaN  32.530073  32.354924  32.423565          NaN  32.444866
2017-03-31        NaN  34.146629  33.848403  34.002251          NaN  34.016451
2017-04-30        NaN  34.153730  33.909944  33.999882          NaN  34.104024

In [89]:
# my example
alphabet_df_2017.columns = ['Change', 'High','Low','Close']
alphabet_concat = pd.concat([alphabet_bar, alphabet_df_2017], axis = 0)
print(alphabet_concat)

                  Open        High  ...  rate_return      Change
Date                                ...
2016-01-31  748.960022  765.109985  ...          NaN         NaN
2016-02-29  721.000000  730.599976  ...    -0.057963         NaN
2016-03-31  768.340027  769.080017  ...     0.063690         NaN
2016-04-30  704.119995  712.109985  ...    -0.072120         NaN
2016-05-31  748.760010  753.479980  ...     0.057877         NaN
2016-06-30  697.650024  703.770020  ...    -0.060519         NaN
2016-07-31  797.710022  803.940002  ...     0.124813         NaN
2016-08-31  789.599976  791.570007  ...    -0.001883         NaN
2016-09-30  803.599976  808.090027  ...     0.017991         NaN
2016-10-31  822.429993  822.630005  ...     0.007263         NaN
2016-11-30  789.099976  791.510010  ...    -0.042005         NaN
2016-12-31  803.210022  803.289978  ...     0.021356         NaN
2016-10-31         NaN  822.630005  ...          NaN  822.429993
2016-11-30         NaN  791.510010  ...          NaN  789.099976
2016-12-31         NaN  803.289978  ...          NaN  803.210022
2017-01-31         NaN  823.070007  ...          NaN  819.500000
2017-02-28         NaN  848.830017  ...          NaN  847.349976
2017-03-31         NaN  849.559998  ...          NaN  846.830017
2017-04-30         NaN  935.900024  ...          NaN  929.000000

[19 rows x 6 columns]

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.