<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [1]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [2]:
# My example
my_string1 = 'New test for'
my_string2 = "adding strings"
print(my_string1 + ' ' + my_string2)

New test for adding strings

An integer is a round number with no values after the decimal point.

In [3]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [4]:
# My example
my_int = 12364815159654121121236481515965412112
print(my_int)
print(type(my_int))

12364815159654121121236481515965412112
<class 'int'>

The built-in function int() can convert a string into an integer.

In [5]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [6]:
# My example
my_string = "12364815159654121121236481515965412112"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))
my_int

<class 'str'>
<class 'int'>

12364815159654121121236481515965412112

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [7]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [8]:
# My example
my_string = "2.71828182845904523536028747135266249775724709369995"
my_float = float(my_string)
print(type(my_float))
my_float

<class 'float'>

2.718281828459045

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [9]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [10]:
# My example
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [11]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [12]:
# My example
print("Addition ", 12+112)
print("Subtraction ", 1024-512)
print("Multiplication ", 12*10000)
print("Division ", 625/25)
print('exponent', 2**32)

Addition  124
Subtraction  512
Multiplication  120000
Division  25.0
exponent 4294967296

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [13]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [14]:
# My example
print(6/3)
print(6.0/3.0)
print(6//3)

2.0
2.0
2

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [15]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [16]:
# My example
my_list = ['m', 3, " perd",0,"n,",4,"s¿"]
print(my_list)

['m', 3, ' perd', 0, 'n,', 4, 's¿']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [17]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [18]:
# My example
my_list = ['m', 3, " perd",0,"n,",4,"s¿"]
print(len(my_list))
print(my_list[1])
print(my_list[len(my_list) -3])

7
3
n,

You can also change the elements in the list by accessing an index and assigning a new value.

In [19]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [20]:
# My example
my_list = ['m', 3, " perd",0,"n,",4,"s¿"]
my_list[5] = 'a'
print(my_list)

['m', 3, ' perd', 0, 'n,', 'a', 's¿']

A list can also be sliced with a colon:

In [21]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [22]:
# My example
my_list = ['m', 3, " perd",0,"n,",4,"s¿"]
print(my_list[3:6])

[0, 'n,', 4]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [23]:
print(my_list[1:])

[3, ' perd', 0, 'n,', 4, 's¿']

In [24]:
# My example
print(my_list[4:])

['n,', 4, 's¿']

And all elements up to but excluding index 3:

In [25]:
print(my_list[:3])

['m', 3, ' perd']

In [26]:
# My example
print(my_list[:1])

['m']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [27]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [28]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [29]:
# My example
my_list = ['Formula', 1]
my_list.append(' is great!')
print(my_list)

['Formula', 1, ' is great!']

In [30]:
# My example
my_list.remove(1)
print(my_list)

['Formula', ' is great!']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [31]:
my_tuple = ('Welcome','to','QuantConnect')

In [32]:
# My example
my_tuple = ('I','like','turtles')
my_tuple

('I', 'like', 'turtles')

Just like a list, a tuple can be sliced by using index.

In [33]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [34]:
# My example
my_tuple = ('I','like','turtles')
print(my_tuple[2:])

('turtles',)

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [35]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'AAPL', 'IBM', 'F', 'FB', 'GOOG'}

In [36]:
# My example
stock_list = ['Mercedes','Red Bull','Mclaren','Mercedes','Red Bull','Ferrari','Aston Martin','Alpine']
stock_set = set(stock_list)
print(stock_set)

{'Red Bull', 'Aston Martin', 'Ferrari', 'Mercedes', 'Mclaren', 'Alpine'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [37]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [38]:
print(my_dic['GOOG'])

Alphabet

In [39]:
# My example
my_dic = {'HAM':'Hamilton', 'VER':'Verstappen', 'PER':'Perez'}

In [40]:
print(my_dic['HAM'])

Hamilton

After defining a dictionary, we can access any value by indicating its key in brackets.

In [41]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [42]:
# My example
my_dic['HAM'] = 'Lewis Hamilton'
print(my_dic['HAM'])

Lewis Hamilton

We can also change the value associated with a specified key:

In [43]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [44]:
# My example
my_dic = {'HAM':'Hamilton', 'VER':'Verstappen', 'PER':'Perez'}
print(my_dic.keys())

dict_keys(['HAM', 'VER', 'PER'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [45]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [46]:
# My example
my_str = 'To live for the hope of it all'
print(my_str[3:20])

live for the hope

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [47]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [48]:
# My example
print('Haaaave you met Ted?'.count('a'))
print('It\'s gonna be legen, wait for it, dary!'.find('g'))
print('sandscastles in the sand'.replace('s','_'))

4
5
_and_ca_tle_ in the _and

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [49]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [50]:
# My example
Teams = 'SanAntonio Spurs,Toronto Raptors,LosAngeles Lakers,Miami Heat,Boston Celtics,Brooklyn Nets,Chicago Bulls'
splited_list = Teams.split(',')
teamA = splited_list[0]
teamB = splited_list[1]
print(teamA , "vs" , teamB)
city = teamB.split(' ')[0]
print(city)

SanAntonio Spurs vs Toronto Raptors
Toronto

We can replace parts of a string by our variable. This is called string formatting.

In [51]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [52]:
# My example
my_book = 'Title: {} - Author: {}'.format('Divergent','Veronica Roth')
print(my_book)

Title: Divergent - Author: Veronica Roth

Another way to format a string is to use the % symbol.

In [53]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [54]:
# My example
print('the square root of 2 is %f'%1.41)
print('%s > %s'%('Vanilla ice cream','Any other ice cream'))

the square root of 2 is 1.410000
Vanilla ice cream > Any other ice cream

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [55]:
print (1 == 0)
print (1 == 1)
print (1 != 0)
print (5 >= 5)
print (5 >= 6)

False
True
True
True
False

In [56]:
# My example
print (12 == 1212)
print (12 == 12)
print (12 != 5)
print (12 >= -12)
print (12 >= 1)

False
True
True
True
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [57]:
print (2 > 1 and 3 > 2)
print (2 > 1 and 3 < 2) 
print (2 > 1 or 3 < 2)
print (2 < 1 and 3 < 2)

True
False
True
False

In [58]:
# My example
print (22 > -22 and -2 > 2)
print (25.5 > 25.6 and 3.0 < 3.3 )
print (-5230 > 0 or 0 < 1)
print (2021 < 2022 and 1980 < 1990)

False
False
True
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [59]:
print ( (3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)) )
print ( 3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)) )

False
True

In [60]:
# My example
print ( (1 > 0 or 11 <= 30) and (54654!=5 and 44000>300) and not ( 12 < 21 or 21 < 12 and (55!=55 and 88>87)) ) 
print ( 1 > 0 or 11 <= 30 and 54654!=5 and 44000>300 and not  12 < 21 or 21 < 12 and 55!=55 and 88>87 )

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [61]:
i = 0
if i == 0:
    print ('i==0 is True')

i==0 is True

In [62]:
# my example

i = 12
if i == 5:
    print ('i==5 is True')
else: 
  print ('i==5 is False')

i==5 is False

As we mentioned above, we can write some complex statements here:

In [63]:
p = 1 > 0
q = 2 > 3
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

q is false

In [64]:
# my example
p = True and False
q = not p
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

p is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [65]:
i = 0
while i < 5:
    print (i)
    i += 1

0
1
2
3
4

In [66]:
# my example
i = -12
while i < 12:
    print (i)
    i += 1

-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [67]:
for i in [1,2,3,4,5]:
    print (i)

1
2
3
4
5

In [68]:
# my example
for i in ["How I met your mother","Suits","Brooklyn 99","Lucifer","Seinfeld"]:
    print (i)

How I met your mother
Suits
Brooklyn 99
Lucifer
Seinfeld

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [69]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print (stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [70]:
# my example
colors = ['cyan','turquiose','mint','teal','aqua']
selected = ['mint','aqua']
new_list = []
for i in colors:
    if i not in selected:
        new_list.append(i)
print( new_list )

['cyan', 'turquiose', 'teal']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [71]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print (i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [72]:
# my example
les_nombres = ['un','deux','trois','quatre','cinq','six', 'sept', 'huit']
for i in les_nombres:
    print (i)
    if i == 'cinq':
        break

un
deux
trois
quatre
cinq

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [73]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print (i)

AAPL
GOOG
IBM
F
V
G
GE

In [74]:
# my example
les_nombres = ['un','deux','trois','quatre','cinq','six', 'sept', 'huit']
for i in les_nombres:
    if i == 'cinq':
        continue
    print (i)

un
deux
trois
quatre
six
sept
huit

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [75]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print (squares)

[1, 4, 9, 16, 25]

In [76]:
# my example
powers = []
for i in [1,2,3,4,5]:
    powers.append(2**i)
print (powers)

[2, 4, 8, 16, 32]

Using list comprehension:

In [77]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print (squares)

[1, 4, 9, 16, 25]

In [78]:
# my example
list = [1,2,3,4,5]
powers = [2**x for x in list]
print (powers)

[2, 4, 8, 16, 32]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [79]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print (new_list)

['AAPL', 'IBM']

In [80]:
# my example
teams = ['Lakers','Raptors','Spurs','Celtics','Timberwolves','Mavs', 'Hawks']
selected = ['Lakers','Celtics']
new_list = [x for x in teams if x in selected]
print (new_list)

['Lakers', 'Celtics']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [81]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [82]:
# my example
print ([(x, y) for x in [12,24] for y in ["A","B"]])
print ([str(x)+' vs '+str(y) for x in ['A','B','C','D'] for y in ['A','AA','AAA','AAAA'] if x!=y])

[(12, 'A'), (12, 'B'), (24, 'A'), (24, 'B')]
['A vs AA', 'A vs AAA', 'A vs AAAA', 'B vs A', 'B vs AA', 'B vs AAA', 'B vs AAAA', 'C vs A', 'C vs AA', 'C vs AAA', 'C vs AAAA', 'D vs A', 'D vs AA', 'D vs AAA', 'D vs AAAA']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [83]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [84]:
# my example
def myPow(x,y):
    return x ** y
print(myPow(2,3))
print(myPow(5,10))

8
9765625

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [85]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [86]:
# my example
from random import random
def print_random_number():
    print(random())
print_random_number()

0.46712425407104374

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [87]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [88]:
# my example
print(range(5))
print(range(2,5))
print(range(10,1,-1))

range(0, 5)
range(2, 5)
range(10, 1, -1)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [89]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [90]:
# my example
my_list = ['Infernape','Typhlosion','Blaziken','Palkia','Dialga','Giratina', 'Lugia', 'Ho-oh']
print('The length of my_list is {}'.format(len(my_list)))
for i in range(len(my_list)):
    print(my_list[i])

The length of my_list is 8
Infernape
Typhlosion
Blaziken
Palkia
Dialga
Giratina
Lugia
Ho-oh

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [91]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [92]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [93]:
# my example
my_list = ['Infernape','Typhlosion','Blaziken','Palkia','Dialga','Giratina', 'Lugia', 'Ho-oh']
print(list(map(len,my_list)))

[9, 10, 8, 6, 6, 8, 5, 5]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [94]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [95]:
# my example
list(map(lambda x: 2**x, range(12)))

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048]

map() can be applied to more than one list. The lists have to have the same length.

In [96]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [97]:
# my example
list(map(lambda x, y: x*y, [1,5,10,15,20],[1,2,4,8,16]))

[1, 10, 40, 120, 320]

**sorted()** takes a list or set and returns a new sorted list

In [98]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [99]:
# my example
sorted(["Z","AB","ABC","C","ZA"])

['AB', 'ABC', 'C', 'Z', 'ZA']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [100]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [101]:
# my example
list = [('A',5),('B',4),('C',1),('D',12),('R',-10)]
sorted(list, key = lambda x: x[1])

[('R', -10), ('C', 1), ('B', 4), ('A', 5), ('D', 12)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [102]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [103]:
# my example
list = [('A',5),('B',4),('C',1),('D',12),('R',-10)]
sorted(list, key = lambda x: x[1],reverse = True)

[('D', 12), ('A', 5), ('B', 4), ('C', 1), ('R', -10)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [104]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [105]:
# my example
list = [('A',5),('B',4),('C',1),('D',12),('R',-10)]
list.sort(key = lambda x: x[1])
print(list)

[('R', -10), ('C', 1), ('B', 4), ('A', 5), ('D', 12)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [106]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [107]:
# my example
class pokemon:
    def __init__(self, species, level, moves):
        self.species = species
        self.level = level
        self.moves = moves
 
    def use_move(self, move_id):
        print(self.species,"used",self.moves[move_id])
 
    def level_up(self):
        self.level = self.level + 1
        print(self.species,"grew to level",self.level)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [108]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [109]:
# my example
cyndaquil = pokemon("Cyndaquil",5,["Scratch","Growl"])
luxray = pokemon("Luxray",80,["Thunder Shock","Wild Charge","Crunch","Swagger"])

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [110]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [111]:
# my example
print(cyndaquil.level)
cyndaquil.level_up()
luxray.use_move(2)

5
Cyndaquil grew to level 6
Luxray used Crunch

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [112]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [113]:
# my example
cyndaquil.pokemon_type = 'Fire'
cyndaquil.pokemon_type

'Fire'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [114]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [115]:
# my example
dir(cyndaquil)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'level',
 'level_up',
 'moves',
 'pokemon_type',
 'species',
 'use_move']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [116]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [117]:
# my example
class catched_pokemon(pokemon):
    def __init__(self,nickname):
        self.nickname = nickname
        super().__init__("Gardevoir",50,["Psybeam","Shadow Ball","Dream Eater","Dazzling Gleam"])
        print("You catched a Gardevoir!")

In [118]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [119]:
# my example
gardevoir = catched_pokemon('Matt')
print(gardevoir.nickname)
gardevoir.level_up()
gardevoir.use_move(1)

You catched a Gardevoir!
Matt
Gardevoir grew to level 51
Gardevoir used Shadow Ball

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [120]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [121]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [122]:
# my example
teams_list = ['Mercedes','Red Bull','Mclaren','Ferrari','Alpine','Alpha Tauri','Aston Martin','Williams','Alfa Romeo','Haas']
teams_list = np.array(teams_list)
print(teams_list, type(teams_list))

['Mercedes' 'Red Bull' 'Mclaren' 'Ferrari' 'Alpine' 'Alpha Tauri'
 'Aston Martin' 'Williams' 'Alfa Romeo' 'Haas'] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [123]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [124]:
# my example
matrix = np.array([['A','B'],['C','D']])
print(matrix, type(matrix))

[['A' 'B']
 ['C' 'D']] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [125]:
print(Ar.shape)

(2, 2)

In [126]:
# my example
print(matrix.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [127]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [128]:
# my example
print(matrix[0])
print(matrix[1])

['A' 'B']
['C' 'D']

If we want to access the matrix by column instead:

In [129]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [130]:
# my example
print('the first column: ', matrix[:,0])
print('the second column: ', matrix[:,1])

the first column:  ['A' 'C']
the second column:  ['B' 'D']

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [131]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [132]:
# my example
my_array = np.array([5,6,7,12,12,7,6,5])
print(np.log(my_array))

[1.60943791 1.79175947 1.94591015 2.48490665 2.48490665 1.94591015
 1.79175947 1.60943791]

Other functions return a single value:

In [133]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [134]:
# my example
print(np.mean(my_array))
print(np.std(my_array))
print(np.sum(my_array))
print(np.max(my_array))

7.5
2.692582403567252
60
12

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [135]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [136]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [137]:
# my example
my_list = [12,9,2019,22,5,11,10]
my_s = pd.Series(my_list)
my_s

0      12
1       9
2    2019
3      22
4       5
5      11
6      10
dtype: int64

We can customize the indices of a new Series:

In [138]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [139]:
# my example
my_s = pd.Series(my_list,index = ['p2','p4','p8','p16','p32','p64','p128'])
my_s

p2        12
p4         9
p8      2019
p16       22
p32        5
p64       11
p128      10
dtype: int64

Or we can change the indices of an existing Series:

In [140]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [141]:
# my example
my_s.index = [-7,-6,-5,-4,-3,-2,-1]
my_s

-7      12
-6       9
-5    2019
-4      22
-3       5
-2      11
-1      10
dtype: int64

Series is like a list since it can be sliced by index:

In [142]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [143]:
# my example
print(my_s[5:])
print(my_s[:-3])

-2    11
-1    10
dtype: int64
-7      12
-6       9
-5    2019
-4      22
dtype: int64

Series is also like a dictionary whose values can be set or fetched by index label:

In [144]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [145]:
# my example
print(my_s[-5])
my_s[-5] = 2024
print(my_s)

2019
-7      12
-6       9
-5    2024
-4      22
-3       5
-2      11
-1      10
dtype: int64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [146]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [147]:
# my example
my_s = pd.Series(my_list, name = 'My Sample Name')
print(my_s)
print(my_s.name)

0      12
1       9
2    2019
3      22
4       5
5      11
6      10
Name: My Sample Name, dtype: int64
My Sample Name

We can get the statistical summaries of a Series:

In [148]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [149]:
# my example
print(my_s.describe())

count       7.000000
mean      298.285714
std       758.781417
min         5.000000
25%         9.500000
50%        11.000000
75%        17.000000
max      2019.000000
Name: My Sample Name, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [150]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [151]:
# my example
my_time_index = pd.date_range('2019-09-12',periods = len(my_s),freq = 'M')
print(my_time_index)
my_s.index = my_time_index
print(my_s)

DatetimeIndex(['2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
               '2020-01-31', '2020-02-29', '2020-03-31'],
              dtype='datetime64[ns]', freq='M')
2019-09-30      12
2019-10-31       9
2019-11-30    2019
2019-12-31      22
2020-01-31       5
2020-02-29      11
2020-03-31      10
Freq: M, Name: My Sample Name, dtype: int64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [152]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [153]:
my_s.index = [7,6,5,4,3,2,1]
print(my_s)
print(my_s[1])

7      12
6       9
5    2019
4      22
3       5
2      11
1      10
Name: My Sample Name, dtype: int64
10

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [154]:
print(s.iloc[1])

145.83

In [155]:
# my example
print(my_s.iloc[1])

9

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [156]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [157]:
# my example
my_s.index = my_time_index
print(my_s['2019-12-31'])

22

We can even access to a range of dates:

In [158]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [159]:
# my example
print(my_s['2019-01-01':'2019-12-31'])

2019-09-30      12
2019-10-31       9
2019-11-30    2019
2019-12-31      22
Freq: M, Name: My Sample Name, dtype: int64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [160]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [161]:
# my example
print(my_s[my_s < np.mean(my_s)] )
print([(my_s > np.mean(my_s)) & (my_s < np.mean(my_s) + 1.64*np.std(my_s))])

2019-09-30    12
2019-10-31     9
2019-12-31    22
2020-01-31     5
2020-02-29    11
2020-03-31    10
Name: My Sample Name, dtype: int64
[2019-09-30    False
2019-10-31    False
2019-11-30    False
2019-12-31    False
2020-01-31    False
2020-02-29    False
2020-03-31    False
Freq: M, Name: My Sample Name, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [162]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.63)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)

In [163]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 144.84, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.109, 'beta3Year': None, 'enterpriseToEbitda': 22.247, '52WeekChange': 0.24883604, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58701, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3047781, 'priceToBook': 37.310665, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2468024156160, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.896729, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 25.5, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 143.76, 'regularMarketOpen': 143.77, 'twoHundredDayAverage': 138.64877, 'trailingAnnualDividendYield': 0.0058082915, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 144.895, 'navPrice': None, 'averageDailyVolume10Day': 67784928, 'regularMarketPreviousClose': 143.76, 'fiftyDayAverage': 146.59706, 'trailingAnnualDividendRate': 0.835, 'open': 143.77, 'toCurrency': None, 'averageVolume10days': 67784928, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 143.515, 'currency': 'USD', 'trailingPE': 28.35552, 'regularMarketVolume': 65076405, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2394234028032, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 77415270, 'dayLow': 143.515, 'ask': 144.97, 'askSize': 1400, 'volume': 65076405, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 144.86, 'tradeable': False, 'dividendYield': 0.0061000003, 'bidSize': 1800, 'dayHigh': 144.895, 'regularMarketPrice': 144.84, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655164  24.291441  23.514538  ...  270597600        0.0             0
2016-01-05  24.379050  24.402104  23.609065  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749160  23.083435  22.230457  ...  324377600        0.0             0
2016-01-08  22.719197  22.848296  22.306540  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898682  41.059116  40.630492  ...  132742000        0.0             0
2017-12-27  40.731061  40.893888  40.637675  ...   85992800        0.0             0
2017-12-28  40.946576  41.150113  40.822059  ...   65920800        0.0             0
2017-12-29  40.831625  40.848385  40.520335  ...  103999600        0.0             0

[503 rows x 7 columns]

In [164]:
# my example
import yfinance as yf

alphabet = yf.Ticker("GOOGL")

# get stock info
print(alphabet.info)

# get historical market data
alphabet_table = alphabet.history(start="2016-01-01",  end="2017-12-31")
alphabet_table

{'zip': '94043', 'sector': 'Communication Services', 'fullTimeEmployees': 144056, 'longBusinessSummary': 'Alphabet Inc. provides online advertising services in the United States, Europe, the Middle East, Africa, the Asia-Pacific, Canada, and Latin America. The company offers performance and brand advertising services. It operates through Google Services, Google Cloud, and Other Bets segments. The Google Services segment provides products and services, such as ads, Android, Chrome, hardware, Google Maps, Google Play, Search, and YouTube, as well as technical infrastructure; and digital content. The Google Cloud segment offers infrastructure and data analytics platforms, collaboration tools, and other services for enterprise customers. The Other Bets segment sells internet and TV services, as well as licensing and research and development services. The company was founded in 1998 and is headquartered in Mountain View, California.', 'city': 'Mountain View', 'phone': '650-253-0000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.abc.xyz', 'maxAge': 1, 'address1': '1600 Amphitheatre Parkway', 'industry': 'Internet Content & Information', 'ebitdaMargins': 0.34300998, 'profitMargins': 0.2857, 'grossMargins': 0.55723, 'operatingCashflow': 80858996736, 'revenueGrowth': 0.616, 'operatingMargins': 0.28448, 'ebitda': 75552997376, 'targetLowPrice': 1850, 'recommendationKey': 'buy', 'grossProfits': 97795000000, 'freeCashflow': 44609626112, 'targetMedianPrice': 3195, 'currentPrice': 2827.36, 'earningsGrowth': 1.691, 'currentRatio': 3.152, 'returnOnAssets': 0.12759, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 3165.69, 'debtToEquity': 11.829, 'returnOnEquity': 0.2829, 'targetHighPrice': 4288.52, 'totalCash': 135863001088, 'totalDebt': 28100999168, 'totalRevenue': 220265005056, 'totalCashPerShare': 203.768, 'financialCurrency': 'USD', 'revenuePerShare': 326.656, 'quickRatio': 3.027, 'recommendationMean': 1.7, 'exchange': 'NMS', 'shortName': 'Alphabet Inc.', 'longName': 'Alphabet Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'GOOGL', 'messageBoardId': 'finmb_29096', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 8.069, 'beta3Year': None, 'enterpriseToEbitda': 23.525, '52WeekChange': 0.84800816, 'morningStarRiskRating': None, 'forwardEps': 106.31, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 301084992, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 355.83, 'sharesShort': 2776429, 'sharesPercentSharesOut': 0.0042, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.80420995, 'netIncomeToCommon': 62928998400, 'trailingEps': 92.187, 'lastDividendValue': None, 'SandP52WeekChange': 0.3047781, 'priceToBook': 7.9458175, 'heldPercentInsiders': 0.00148, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 2, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 580783527, 'beta': 1.025925, 'enterpriseValue': 1777394122752, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1396483200, 'lastSplitFactor': '1998:1000', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 1.662, 'priceToSalesTrailing12Months': 8.567505, 'dateShortInterest': 1632960000, 'pegRatio': 1.16, 'ytdReturn': None, 'forwardPE': 26.59543, 'lastCapGain': None, 'shortPercentOfFloat': 0.0092, 'sharesShortPriorMonth': 2994031, 'impliedSharesOutstanding': 666755008, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 2823.02, 'regularMarketOpen': 2832.29, 'twoHundredDayAverage': 2545.0764, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 2834.36, 'navPrice': None, 'averageDailyVolume10Day': 1340757, 'regularMarketPreviousClose': 2823.02, 'fiftyDayAverage': 2807.2344, 'trailingAnnualDividendRate': None, 'open': 2832.29, 'toCurrency': None, 'averageVolume10days': 1340757, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 2815.1, 'currency': 'USD', 'trailingPE': 30.669836, 'regularMarketVolume': 1513722, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 1887121440768, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 1368679, 'dayLow': 2815.1, 'ask': 2835, 'askSize': 800, 'volume': 1513722, 'fiftyTwoWeekHigh': 2925.08, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 1508.48, 'bid': 2826.05, 'tradeable': False, 'dividendYield': None, 'bidSize': 800, 'dayHigh': 2834.36, 'regularMarketPrice': 2827.36, 'logo_url': 'https://logo.clearbit.com/abc.xyz'}

                   Open         High  ...  Dividends  Stock Splits
Date                                  ...
2016-01-04   762.200012   762.200012  ...          0             0
2016-01-05   764.099976   769.200012  ...          0             0
2016-01-06   750.369995   765.729980  ...          0             0
2016-01-07   746.489990   755.309998  ...          0             0
2016-01-08   747.799988   750.119995  ...          0             0
...                 ...          ...  ...        ...           ...
2017-12-22  1070.000000  1071.719971  ...          0             0
2017-12-26  1068.640015  1068.859985  ...          0             0
2017-12-27  1066.599976  1068.270020  ...          0             0
2017-12-28  1062.250000  1064.839966  ...          0             0
2017-12-29  1055.489990  1058.050049  ...          0             0

[503 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [165]:
aapl = aapl_table['Close']['2017']

In [166]:
# my example
alphabet = alphabet_table['Close']['2017']

In [167]:
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787127
2017-01-09    28.041645
                ...
2017-12-22    41.906776
2017-12-26    40.843609
2017-12-27    40.850788
2017-12-28    40.965733
2017-12-29    40.522728
Name: Close, Length: 251, dtype: float64

In [168]:
# my example
print(alphabet)

Date
2017-01-03     808.010010
2017-01-04     807.770020
2017-01-05     813.020020
2017-01-06     825.210022
2017-01-09     827.179993
                 ...
2017-12-22    1068.859985
2017-12-26    1065.849976
2017-12-27    1060.199951
2017-12-28    1055.949951
2017-12-29    1053.400024
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [169]:
print(aapl['2017-3'])

Date
2017-03-01    33.086288
2017-03-02    32.889843
2017-03-03    33.083916
2017-03-06    32.979771
2017-03-07    33.022381
2017-03-08    32.899300
2017-03-09    32.823563
2017-03-10    32.932446
2017-03-13    32.946640
2017-03-14    32.896935
2017-03-15    33.244865
2017-03-16    33.299301
2017-03-17    33.133629
2017-03-20    33.481556
2017-03-21    33.098110
2017-03-22    33.472080
2017-03-23    33.353745
2017-03-24    33.287464
2017-03-27    33.344280
2017-03-28    34.035389
2017-03-29    34.111134
2017-03-30    34.066162
2017-03-31    34.002262
Name: Close, dtype: float64

In [170]:
# my example
print(alphabet['2017-3'])

Date
2017-03-01    856.750000
2017-03-02    849.849976
2017-03-03    849.080017
2017-03-06    847.270020
2017-03-07    851.150024
2017-03-08    853.640015
2017-03-09    857.840027
2017-03-10    861.409973
2017-03-13    864.580017
2017-03-14    865.909973
2017-03-15    868.390015
2017-03-16    870.000000
2017-03-17    872.369995
2017-03-20    867.909973
2017-03-21    850.140015
2017-03-22    849.799988
2017-03-23    839.650024
2017-03-24    835.140015
2017-03-27    838.510010
2017-03-28    840.630005
2017-03-29    849.869995
2017-03-30    849.479980
2017-03-31    847.799988
Name: Close, dtype: float64

In [171]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341724
2017-02-02    30.289881
2017-02-03    30.419498
2017-02-06    30.704649
2017-02-07    30.996868
                ...
2017-04-24    33.997532
2017-04-25    34.208179
2017-04-26    34.006996
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [172]:
# my example
alphabet['2017-2':'2017-4']

Date
2017-02-01    815.239990
2017-02-02    818.260010
2017-02-03    820.130005
2017-02-06    821.619995
2017-02-07    829.229980
                 ...
2017-04-24    878.929993
2017-04-25    888.840027
2017-04-26    889.140015
2017-04-27    891.440002
2017-04-28    924.520020
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [173]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787127
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244404
2017-12-19    41.794231
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843609
2017-12-27    40.850788
2017-12-28    40.965733
2017-12-29    40.522728
Name: Close, dtype: float64

In [174]:
# my example
print(alphabet.head(5))
print(alphabet.tail(10))

Date
2017-01-03    808.010010
2017-01-04    807.770020
2017-01-05    813.020020
2017-01-06    825.210022
2017-01-09    827.179993
Name: Close, dtype: float64
Date
2017-12-15    1072.000000
2017-12-18    1085.089966
2017-12-19    1079.780029
2017-12-20    1073.560059
2017-12-21    1070.849976
2017-12-22    1068.859985
2017-12-26    1065.849976
2017-12-27    1060.199951
2017-12-28    1055.949951
2017-12-29    1053.400024
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [175]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282220
2017-04-30    33.819263
2017-05-31    36.125684
2017-06-30    35.133985
2017-07-31    35.245241
2017-08-31    37.897228
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233916
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [176]:
# my example
alphabet_by_month = alphabet.resample('M').mean()
print(alphabet_by_month)

Date
2017-01-31     830.249509
2017-02-28     836.754735
2017-03-31     853.790002
2017-04-30     861.377898
2017-05-31     961.654549
2017-06-30     973.368638
2017-07-31     963.443506
2017-08-31     937.960874
2017-09-30     945.884497
2017-10-31     999.145006
2017-11-30    1046.983346
2017-12-31    1053.917487
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [177]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495495
2017-01-15    28.097734
2017-01-22    28.266117
2017-01-29    28.553981
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [178]:
# my example
alphabet_by_week = alphabet.resample('W').mean()
print(alphabet_by_week.head())

Date
2017-01-08    813.502518
2017-01-15    828.704004
2017-01-22    827.255005
2017-01-29    850.884009
2017-02-05    819.530005
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [179]:
aapl.resample('M').max()

Date
2017-01-31    28.739214
2017-02-28    32.451965
2017-03-31    34.111134
2017-04-30    34.264973
2017-05-31    37.099133
2017-06-30    36.944653
2017-07-31    36.471706
2017-08-31    39.129723
2017-09-30    39.141659
2017-10-31    40.332249
2017-11-30    42.050133
2017-12-31    42.244404
Freq: M, Name: Close, dtype: float64

In [180]:
# my example
alphabet.resample('M').max()

Date
2017-01-31     858.450012
2017-02-28     851.359985
2017-03-31     872.369995
2017-04-30     924.520020
2017-05-31     996.169983
2017-06-30    1004.280029
2017-07-31     998.309998
2017-08-31     955.239990
2017-09-30     973.719971
2017-10-31    1033.670044
2017-11-30    1072.010010
2017-12-31    1085.089966
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [181]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398285
2017-01-06    27.787127
2017-01-09    28.110774
2017-01-12    28.078175
2017-01-15    28.279667
                ...
2017-12-17    42.019318
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886710
2017-12-29    40.522728
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495495
2017-01-22    28.172571
2017-02-05    29.108262
2017-02-19    31.516816
2017-03-05    32.595558
2017-03-19    33.017883
2017-04-02    33.625218
2017-04-16    33.849728
2017-04-30    33.791845
2017-05-14    35.697633
2017-05-28    36.496178
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265136
2017-07-23    35.278869
2017-08-06    36.272776
2017-08-20    37.904120
2017-09-03    38.458792
2017-09-17    38.282709
2017-10-01    36.840874
2017-10-15    37.071594
2017-10-29    37.757320
2017-11-12    41.032238
2017-11-26    41.204378
2017-12-10    40.867065
2017-12-24    41.620866
2018-01-07    40.795714
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761186
2017-11-30    39.402612
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [182]:
# my example
alphabet_three_day = alphabet.resample('3D').mean()
alphabet_two_week = alphabet.resample('2W').mean()
alphabet_two_month = alphabet.resample('2M').mean()


print(alphabet_three_day)
print(alphabet_two_week)
print(alphabet_two_month)

Date
2017-01-03     809.600016
2017-01-06     825.210022
2017-01-09     827.683329
2017-01-12     830.235016
2017-01-15     827.460022
                 ...
2017-12-17    1082.434998
2017-12-20    1071.090007
2017-12-23            NaN
2017-12-26    1060.666626
2017-12-29    1053.400024
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08     813.502518
2017-01-22     828.060004
2017-02-05     835.207007
2017-02-19     835.066998
2017-03-05     849.968886
2017-03-19     861.256006
2017-04-02     846.892999
2017-04-16     845.405551
2017-04-30     875.753009
2017-05-14     950.463013
2017-05-28     966.850995
2017-06-11     993.792223
2017-06-25     970.454999
2017-07-09     940.990011
2017-07-23     975.966003
2017-08-06     956.928003
2017-08-20     935.882007
2017-09-03     938.598004
2017-09-17     943.399997
2017-10-01     947.509998
2017-10-15     988.444006
2017-10-29    1003.058002
2017-11-12    1044.696008
2017-11-26    1044.112237
2017-12-10    1039.205994
2017-12-24    1065.973999
2018-01-07    1058.849976
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31     830.249509
2017-03-31     846.083572
2017-05-31     915.184881
2017-07-31     968.642385
2017-09-30     941.646280
2017-11-30    1022.507916
2018-01-31    1053.917487
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [183]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203366
2017-01-15    0.072530
2017-01-22    0.025553
2017-01-29    0.245286
2017-02-05    0.943261
2017-02-12    0.252000
2017-02-19    0.231390
2017-02-26    0.059341
2017-03-05    0.340094
2017-03-12    0.076285
2017-03-19    0.177835
2017-03-26    0.157268
2017-04-02    0.319804
2017-04-09    0.128687
2017-04-16    0.212477
2017-04-23    0.174670
2017-04-30    0.090026
2017-05-07    0.235638
2017-05-14    0.352978
2017-05-21    0.536096
2017-05-28    0.060392
2017-06-04    0.281224
2017-06-11    0.620035
2017-06-18    0.382568
2017-06-25    0.128890
2017-07-02    0.264104
2017-07-09    0.158890
2017-07-16    0.404282
2017-07-23    0.124989
2017-07-30    0.384446
2017-08-06    0.924391
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275767
2017-09-03    0.251728
2017-09-10    0.381641
2017-09-17    0.294141
2017-09-24    0.735192
2017-10-01    0.354843
2017-10-08    0.204856
2017-10-15    0.118734
2017-10-22    0.516999
2017-10-29    0.680451
2017-11-05    0.560682
2017-11-12    0.190967
2017-11-19    0.436198
2017-11-26    0.563050
2017-12-03    0.427440
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194125
2017-12-31    0.190398
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787127
2017-01-15    28.220751
2017-01-22    28.279667
2017-01-29    28.739214
2017-02-05    30.419498
2017-02-12    31.341911
2017-02-19    32.122971
2017-02-26    32.451965
2017-03-05    33.086288
2017-03-12    33.022381
2017-03-19    33.299301
2017-03-26    33.481556
2017-04-02    34.111134
2017-04-09    34.264973
2017-04-16    33.886284
2017-04-23    33.713497
2017-04-30    34.208179
2017-05-07    35.256691
2017-05-14    37.099133
2017-05-21    37.004066
2017-05-28    36.597660
2017-06-04    36.944653
2017-06-11    36.925636
2017-06-18    34.838963
2017-06-25    34.779541
2017-07-02    34.658333
2017-07-09    34.266193
2017-07-16    35.421227
2017-07-23    35.891800
2017-07-30    36.471706
2017-08-06    37.346298
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170563
2017-09-03    39.141659
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798641
2017-10-08    37.075413
2017-10-15    37.457169
2017-10-22    38.287483
2017-10-29    38.903049
2017-11-05    41.157787
2017-11-12    42.050133
2017-11-19    41.657745
2017-11-26    41.897198
2017-12-03    41.686470
2017-12-10    40.659218
2017-12-17    41.657745
2017-12-24    42.244404
2017-12-31    40.965733
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227823
2017-01-29    28.272602
2017-02-05    28.597811
2017-02-12    30.704649
2017-02-19    31.547831
2017-02-26    32.314697
2017-03-05    32.409359
2017-03-12    32.823563
2017-03-19    32.896935
2017-03-26    33.098110
2017-04-02    33.344280
2017-04-09    33.926514
2017-04-16    33.384506
2017-04-23    33.296936
2017-04-30    33.997532
2017-05-07    34.681549
2017-05-14    36.215271
2017-05-21    35.708801
2017-05-28    36.443176
2017-06-04    36.305340
2017-06-11    35.406971
2017-06-18    33.812252
2017-06-25    34.463455
2017-07-02    34.147366
2017-07-09    33.921577
2017-07-16    34.475334
2017-07-23    35.544811
2017-07-30    35.530552
2017-08-06    35.347553
2017-08-13    37.058712
2017-08-20    37.578854
2017-08-27    37.509655
2017-09-03    38.526073
2017-09-10    37.848465
2017-09-17    37.764954
2017-09-24    36.240330
2017-10-01    35.920612
2017-10-08    36.619690
2017-10-15    37.182774
2017-10-22    37.216183
2017-10-29    37.261513
2017-11-05    39.778706
2017-11-12    41.575336
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470047
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522728
Freq: W-SUN, Name: Close, dtype: float64

In [184]:
# my example
alphabet_std = alphabet.resample('W').std()
alphabet_max = alphabet.resample('W').max()
alphabet_min = alphabet.resample('W').min()


print(alphabet_std)
print(alphabet_max)
print(alphabet_min)

Date
2017-01-08     8.171651
2017-01-15     2.037064
2017-01-22     2.026308
2017-01-29     6.560525
2017-02-05     3.134598
2017-02-12     4.758037
2017-02-19     3.564258
2017-02-26     1.643182
2017-03-05     4.249400
2017-03-12     5.541995
2017-03-19     3.122538
2017-03-26    12.628678
2017-04-02     5.303561
2017-04-09     5.822352
2017-04-16     0.908543
2017-04-23     2.552600
2017-04-30    17.419297
2017-05-07     9.282256
2017-05-14     1.542306
2017-05-21     8.546596
2017-05-28    12.885440
2017-06-04     4.906050
2017-06-11    14.393003
2017-06-18     5.144014
2017-06-25     6.176122
2017-07-02    17.130013
2017-07-09     8.914012
2017-07-16    10.970014
2017-07-23     7.414408
2017-07-30    17.734185
2017-08-06     2.839130
2017-08-13     9.552255
2017-08-20     7.786691
2017-08-27     8.764540
2017-09-03    11.232764
2017-09-10     4.135671
2017-09-17     5.837673
2017-09-24     7.656422
2017-10-01    17.349222
2017-10-08    11.868410
2017-10-15     9.133115
2017-10-22     4.467104
2017-10-29    20.025266
2017-11-05     7.252927
2017-11-12     6.381397
2017-11-19     5.075514
2017-11-26     9.499338
2017-12-03    19.883361
2017-12-10    15.959889
2017-12-17     9.319530
2017-12-24     6.702240
2017-12-31     5.444708
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08     825.210022
2017-01-15     830.940002
2017-01-22     829.020020
2017-01-29     858.450012
2017-02-05     823.830017
2017-02-12     834.849976
2017-02-19     846.549988
2017-02-26     851.359985
2017-03-05     856.750000
2017-03-12     861.409973
2017-03-19     872.369995
2017-03-26     867.909973
2017-04-02     849.869995
2017-04-09     856.750000
2017-04-16     841.700012
2017-04-23     860.080017
2017-04-30     924.520020
2017-05-07     954.719971
2017-05-14     958.690002
2017-05-21     964.609985
2017-05-28     993.270020
2017-06-04     996.169983
2017-06-11    1004.280029
2017-06-18     970.500000
2017-06-25     986.090027
2017-07-02     972.090027
2017-07-09     940.809998
2017-07-16     976.909973
2017-07-23     993.840027
2017-07-30     998.309998
2017-08-06     947.640015
2017-08-13     945.750000
2017-08-20     944.270020
2017-08-27     942.580017
2017-09-03     955.239990
2017-09-10     949.890015
2017-09-17     950.440002
2017-09-24     947.549988
2017-10-01     973.719971
2017-10-08     993.640015
2017-10-15    1007.869995
2017-10-22    1012.739990
2017-10-29    1033.670044
2017-11-05    1049.989990
2017-11-12    1058.290039
2017-11-19    1048.469971
2017-11-26    1056.520020
2017-12-03    1072.010010
2017-12-10    1049.380005
2017-12-17    1072.000000
2017-12-24    1085.089966
2017-12-31    1065.849976
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08     807.770020
2017-01-15     826.010010
2017-01-22     824.369995
2017-01-29     844.429993
2017-02-05     815.239990
2017-02-12     821.619995
2017-02-19     837.320007
2017-02-26     847.809998
2017-03-05     844.929993
2017-03-12     847.270020
2017-03-19     864.580017
2017-03-26     835.140015
2017-04-02     838.510010
2017-04-09     842.099976
2017-04-16     839.880005
2017-04-23     853.989990
2017-04-30     878.929993
2017-05-07     932.820007
2017-05-14     954.840027
2017-05-21     942.169983
2017-05-28     964.070007
2017-06-04     987.090027
2017-06-11     970.119995
2017-06-18     958.619995
2017-06-25     968.989990
2017-07-02     929.679993
2017-07-09     919.460022
2017-07-16     951.000000
2017-07-23     975.960022
2017-07-30     952.510010
2017-08-06     940.299988
2017-08-13     923.590027
2017-08-20     926.179993
2017-08-27     920.869995
2017-09-03     928.130005
2017-09-10     941.409973
2017-09-17     935.289978
2017-09-24     929.750000
2017-10-01     934.280029
2017-10-08     966.780029
2017-10-15     987.799988
2017-10-22    1001.840027
2017-10-29     985.539978
2017-11-05    1033.040039
2017-11-12    1042.680054
2017-11-19    1035.890015
2017-11-26    1034.660034
2017-12-03    1025.069946
2017-12-10    1011.869995
2017-12-17    1048.770020
2017-12-24    1068.859985
2017-12-31    1053.400024
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [185]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597811
2017-02-28    32.423561
2017-03-31    34.002262
2017-04-30    33.999889
2017-05-31    36.305340
2017-06-30    34.228172
2017-07-31    35.347553
2017-08-31    39.129723
2017-09-30    36.772396
2017-10-31    40.332249
2017-11-30    41.150097
2017-12-31    40.522728
Freq: M, Name: Close, dtype: float64

In [186]:
# my example
alphabet_last_day = alphabet.resample('M').agg(lambda x: x[-1])
print(alphabet_last_day)

Date
2017-01-31     820.190002
2017-02-28     844.929993
2017-03-31     847.799988
2017-04-30     924.520020
2017-05-31     987.090027
2017-06-30     929.679993
2017-07-31     945.500000
2017-08-31     955.239990
2017-09-30     973.719971
2017-10-31    1033.040039
2017-11-30    1036.170044
2017-12-31    1053.400024
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [187]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [188]:
# my example
alphabet_monthly_return = alphabet.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(alphabet_monthly_return)

Date
2017-01-31    0.015074
2017-02-28    0.036419
2017-03-31   -0.010446
2017-04-30    0.079101
2017-05-31    0.058178
2017-06-30   -0.059304
2017-07-31    0.028321
2017-08-31    0.009170
2017-09-30    0.022826
2017-10-31    0.067775
2017-11-30   -0.006167
2017-12-31    0.027637
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [189]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863282350236384
0.05225848410192254
0.09901816736008073

In [190]:
# my example
print(alphabet_monthly_return.mean())
print(alphabet_monthly_return.std())
print(alphabet_monthly_return.max())

0.02238193569572126
0.03767382052951203
0.07910127753866347

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [191]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825750
2017-03-31    1.578701
2017-04-30   -0.002373
2017-05-31    2.305450
2017-06-30   -2.077168
2017-07-31    1.119381
2017-08-31    3.782169
2017-09-30   -2.357327
2017-10-31    3.559853
2017-11-30    0.817848
2017-12-31   -0.627369
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [192]:
# my example
print(alphabet_last_day.diff())
print(alphabet_last_day.pct_change())

Date
2017-01-31          NaN
2017-02-28    24.739990
2017-03-31     2.869995
2017-04-30    76.720032
2017-05-31    62.570007
2017-06-30   -57.410034
2017-07-31    15.820007
2017-08-31     9.739990
2017-09-30    18.479980
2017-10-31    59.320068
2017-11-30     3.130005
2017-12-31    17.229980
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.030164
2017-03-31    0.003397
2017-04-30    0.090493
2017-05-31    0.067678
2017-06-30   -0.058161
2017-07-31    0.017017
2017-08-31    0.010301
2017-09-30    0.019346
2017-10-31    0.060921
2017-11-30    0.003030
2017-12-31    0.016629
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [193]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [194]:
alphabet_daily_return = alphabet_last_day.pct_change()
print(alphabet_daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.030164
2017-03-31    0.003397
2017-04-30    0.090493
2017-05-31    0.067678
2017-06-30   -0.058161
2017-07-31    0.017017
2017-08-31    0.010301
2017-09-30    0.019346
2017-10-31    0.060921
2017-11-30    0.003030
2017-12-31    0.016629
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [195]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [196]:
# my example
alphabet_daily_return = alphabet_last_day.pct_change()
print(alphabet_daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.030164
2017-02-28    0.030164
2017-03-31    0.003397
2017-04-30    0.090493
2017-05-31    0.067678
2017-06-30   -0.058161
2017-07-31    0.017017
2017-08-31    0.010301
2017-09-30    0.019346
2017-10-31    0.060921
2017-11-30    0.003030
2017-12-31    0.016629
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [197]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [198]:
alphabet_daily_return = alphabet_last_day.pct_change()
alphabet_daily_return.dropna()

Date
2017-02-28    0.030164
2017-03-31    0.003397
2017-04-30    0.090493
2017-05-31    0.067678
2017-06-30   -0.058161
2017-07-31    0.017017
2017-08-31    0.010301
2017-09-30    0.019346
2017-10-31    0.060921
2017-11-30    0.003030
2017-12-31    0.016629
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [199]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [200]:
# my example
import pandas as pd

my_dict = {'ExA': [1,2,3,4,5],'ExB':[10,15,20,25,30],
        'ExC':[200,100,50,25,12.5]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
my_df = pd.DataFrame(my_dict, index = data_index)
print(my_df)

            ExA  ExB    ExC
2017-07-03    1   10  200.0
2017-07-04    2   15  100.0
2017-07-05    3   20   50.0
2017-07-06    4   25   25.0
2017-07-07    5   30   12.5

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [201]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843609
2017-12-27    40.850788
2017-12-28    40.965733
2017-12-29    40.522728
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [202]:
# my example
my_df = alphabet_table
print(my_df.Close.tail(5))
print(my_df['Volume'].tail(5))

Date
2017-12-22    1068.859985
2017-12-26    1065.849976
2017-12-27    1060.199951
2017-12-28    1055.949951
2017-12-29    1053.400024
Name: Close, dtype: float64
Date
2017-12-22     889400
2017-12-26     918800
2017-12-27    1116200
2017-12-28     994200
2017-12-29    1180300
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [203]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852384  22.440247  21.750948  ...  257666000        0.0             0
2016-02-29  22.450759  22.768306  22.402084  ...  140865200        0.0             0
2016-03-31  25.431518  25.473240  25.236817  ...  103553600        0.0             0
2016-04-30  21.785529  21.954734  21.442488  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367386  26.580745  26.212643  ...  145516400        0.0             0
2016-10-31  26.646389  26.782376  26.540880  ...  105677600        0.0             0
2016-11-30  26.300090  26.441488  25.986656  ...  144649200        0.0             0
2016-12-31  27.490195  27.619809  27.202685  ...  122345200        0.0             0

[12 rows x 7 columns]

In [204]:
# my example
alphabet_2016 = my_df['2016']
alphabet_month = alphabet_2016.resample('M').agg(lambda x: x[-1])
print(alphabet_month)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2016-01-31  748.960022  765.109985  ...          0             0
2016-02-29  721.000000  730.599976  ...          0             0
2016-03-31  768.340027  769.080017  ...          0             0
2016-04-30  704.119995  712.109985  ...          0             0
2016-05-31  748.760010  753.479980  ...          0             0
2016-06-30  697.650024  703.770020  ...          0             0
2016-07-31  797.710022  803.940002  ...          0             0
2016-08-31  789.599976  791.570007  ...          0             0
2016-09-30  803.599976  808.090027  ...          0             0
2016-10-31  822.429993  822.630005  ...          0             0
2016-11-30  789.099976  791.510010  ...          0             0
2016-12-31  803.210022  803.289978  ...          0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [205]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247
2016-02-29  22.450759  22.768306  22.402084  22.411356
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367386  26.580745  26.212643  26.505718
2016-10-31  26.646389  26.782376  26.540880  26.620598
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490195  27.619809  27.202685  27.294594

In [206]:
# my example
alphabet_bar = alphabet_month[['Open', 'High', 'Low', 'Close']]
print(alphabet_bar)

                  Open        High         Low       Close
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976
2016-02-29  721.000000  730.599976  716.840027  717.219971
2016-03-31  768.340027  769.080017  758.250000  762.900024
2016-04-30  704.119995  712.109985  703.780029  707.880005
2016-05-31  748.760010  753.479980  745.570007  748.849976
2016-06-30  697.650024  703.770020  694.900024  703.530029
2016-07-31  797.710022  803.940002  790.000000  791.340027
2016-08-31  789.599976  791.570007  787.200012  789.849976
2016-09-30  803.599976  808.090027  801.500000  804.059998
2016-10-31  822.429993  822.630005  808.000000  809.900024
2016-11-30  789.099976  791.510010  773.150024  775.880005
2016-12-31  803.210022  803.289978  789.619995  792.450012

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [207]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [208]:
# my example
print(alphabet_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                  Open        High         Low       Close
Date
2016-03-31  768.340027  769.080017  758.250000  762.900024
2016-04-30  704.119995  712.109985  703.780029  707.880005
2016-05-31  748.760010  753.479980  745.570007  748.849976
2016-06-30  697.650024  703.770020  694.900024  703.530029

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [209]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367386  26.580745  26.212643  26.505718
2016-10-31  26.646389  26.782376  26.540880  26.620598
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490195  27.619809  27.202685  27.294594

In [210]:
# my example
import numpy as np

alphabet_above = alphabet_bar[alphabet_bar.Close > np.mean(alphabet_bar.Close)]
print(alphabet_above)

                  Open        High         Low       Close
Date
2016-07-31  797.710022  803.940002  790.000000  791.340027
2016-08-31  789.599976  791.570007  787.200012  789.849976
2016-09-30  803.599976  808.090027  801.500000  804.059998
2016-10-31  822.429993  822.630005  808.000000  809.900024
2016-11-30  789.099976  791.510010  773.150024  775.880005
2016-12-31  803.210022  803.289978  789.619995  792.450012

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [211]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646389  26.782376  26.540880  26.620598     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [212]:
# my example
alphabet_bar['rate_return'] = alphabet_bar.Close.pct_change()
print(alphabet_bar)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976          NaN
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [213]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [214]:
# my example
alphabet_missing = alphabet_bar.isnull()
print(alphabet_missing)
print('---------------------------------------------')
print(alphabet_missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [215]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [216]:
# my example
print(alphabet_missing[alphabet_missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [217]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646389  26.782376  26.540880  26.620598     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247     0.000000
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646389  26.782376  26.540880  26.620598     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

In [218]:
# my example
alphabet_drop = alphabet_bar.dropna()
print(alphabet_drop)
print('\n--------------------------------------------------\n')
alphabet_fill = alphabet_bar.fillna(0)
print(alphabet_fill)

                  Open        High         Low       Close  rate_return
Date
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356

--------------------------------------------------

                  Open        High         Low       Close  rate_return
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976     0.000000
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [219]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [220]:
# my example
my_s1 = pd.Series([1,2,4,8,16], name = 'pot2')
my_s2 = pd.Series([1,3,9,27,81], name = 'pot3')
my_data_frame = pd.concat([my_s1,my_s2], axis = 1)
print(my_data_frame)

   pot2  pot3
0     1     1
1     2     3
2     4     9
3     8    27
4    16    81

The "axis = 1" parameter will join two DataFrames by columns:

In [221]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN   3.110856
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287   3.109568
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652   3.213912
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504   3.277360
2016-10-31  26.646389  26.782376  26.540880  26.620598     0.004334   3.281685
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601   3.259848
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955   3.306689

In [222]:
# my example
alphabet_log_price = np.log(alphabet_bar.Close)
alphabet_log_price.name = 'log_price'
print(alphabet_log_price)
print('\n---------------------- separate line--------------------\n')
alphabet_concat = pd.concat([alphabet_bar, alphabet_log_price], axis = 1)
print(alphabet_concat)

Date
2016-01-31    6.635093
2016-02-29    6.575383
2016-03-31    6.637127
2016-04-30    6.562275
2016-05-31    6.618539
2016-06-30    6.556111
2016-07-31    6.673728
2016-08-31    6.671843
2016-09-30    6.689674
2016-10-31    6.696911
2016-11-30    6.653998
2016-12-31    6.675129
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High  ...  rate_return  log_price
Date                                ...
2016-01-31  748.960022  765.109985  ...          NaN   6.635093
2016-02-29  721.000000  730.599976  ...    -0.057963   6.575383
2016-03-31  768.340027  769.080017  ...     0.063690   6.637127
2016-04-30  704.119995  712.109985  ...    -0.072120   6.562275
2016-05-31  748.760010  753.479980  ...     0.057877   6.618539
2016-06-30  697.650024  703.770020  ...    -0.060519   6.556111
2016-07-31  797.710022  803.940002  ...     0.124813   6.673728
2016-08-31  789.599976  791.570007  ...    -0.001883   6.671843
2016-09-30  803.599976  808.090027  ...     0.017991   6.689674
2016-10-31  822.429993  822.630005  ...     0.007263   6.696911
2016-11-30  789.099976  791.510010  ...    -0.042005   6.653998
2016-12-31  803.210022  803.289978  ...     0.021356   6.675129

[12 rows x 6 columns]

We can also join two DataFrames by rows. Consider these two DataFrames:

In [223]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646389  26.782376  26.540880  26.620598
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490195  27.619809  27.202685  27.294594
2017-01-31  28.550679  28.607238  28.425777  28.597811
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016463  34.146641  33.848414  34.002262
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [224]:
# my example
alphabet_df_volume = alphabet_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(alphabet_df_volume)
print('\n---------------------- separate line--------------------\n')
alphabet_df_2017 = alphabet_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(alphabet_df_2017)

             Volume  Stock Splits
Date
2016-10-31  2242700             0
2016-11-30  2279100             0
2016-12-31  1735900             0
2017-01-31  2020200             0
2017-02-28  1383100             0
2017-03-31  1441000             0
2017-04-30  3845900             0

---------------------- separate line--------------------

                  Open        High         Low       Close
Date
2016-10-31  822.429993  822.630005  808.000000  809.900024
2016-11-30  789.099976  791.510010  773.150024  775.880005
2016-12-31  803.210022  803.289978  789.619995  792.450012
2017-01-31  819.500000  823.070007  813.400024  820.190002
2017-02-28  847.349976  848.830017  841.440002  844.929993
2017-03-31  846.830017  849.559998  845.239990  847.799988
2017-04-30  929.000000  935.900024  923.219971  924.520020

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [225]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852384  22.440247  ...          NaN           NaN
2016-02-29  22.450759  22.768306  ...          NaN           NaN
2016-03-31  25.431518  25.473240  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367386  26.580745  ...          NaN           NaN
2016-10-31  26.646389  26.782376  ...  105677600.0           0.0
2016-11-30  26.300090  26.441488  ...  144649200.0           0.0
2016-12-31  27.490195  27.619809  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [226]:
# my example
alphabet_concat = pd.concat([alphabet_bar, alphabet_df_volume], axis = 1)
print(alphabet_concat)

                  Open        High  ...     Volume  Stock Splits
Date                                ...
2016-01-31  748.960022  765.109985  ...        NaN           NaN
2016-02-29  721.000000  730.599976  ...        NaN           NaN
2016-03-31  768.340027  769.080017  ...        NaN           NaN
2016-04-30  704.119995  712.109985  ...        NaN           NaN
2016-05-31  748.760010  753.479980  ...        NaN           NaN
2016-06-30  697.650024  703.770020  ...        NaN           NaN
2016-07-31  797.710022  803.940002  ...        NaN           NaN
2016-08-31  789.599976  791.570007  ...        NaN           NaN
2016-09-30  803.599976  808.090027  ...        NaN           NaN
2016-10-31  822.429993  822.630005  ...  2242700.0           0.0
2016-11-30  789.099976  791.510010  ...  2279100.0           0.0
2016-12-31  803.210022  803.289978  ...  1735900.0           0.0
2017-01-31         NaN         NaN  ...  2020200.0           0.0
2017-02-28         NaN         NaN  ...  1383100.0           0.0
2017-03-31         NaN         NaN  ...  1441000.0           0.0
2017-04-30         NaN         NaN  ...  3845900.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [227]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646389  26.782376  ...  105677600             0
2016-11-30  26.300090  26.441488  ...  144649200             0
2016-12-31  27.490195  27.619809  ...  122345200             0

[3 rows x 7 columns]

In [228]:
# my example
alphabet_concat = pd.concat([alphabet_bar,alphabet_df_volume],axis = 1, join = 'inner')
print(alphabet_concat)

                  Open        High  ...   Volume  Stock Splits
Date                                ...
2016-10-31  822.429993  822.630005  ...  2242700             0
2016-11-30  789.099976  791.510010  ...  2279100             0
2016-12-31  803.210022  803.289978  ...  1735900             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [229]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646389  26.782376  26.540880  26.620598     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955
2016-10-31  26.646389  26.782376  26.540880  26.620598          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594          NaN
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [230]:
# my example
alphabet_append = alphabet_bar.append(alphabet_df_2017)
print(alphabet_append)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976          NaN
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356
2016-10-31  822.429993  822.630005  808.000000  809.900024          NaN
2016-11-30  789.099976  791.510010  773.150024  775.880005          NaN
2016-12-31  803.210022  803.289978  789.619995  792.450012          NaN
2017-01-31  819.500000  823.070007  813.400024  820.190002          NaN
2017-02-28  847.349976  848.830017  841.440002  844.929993          NaN
2017-03-31  846.830017  849.559998  845.239990  847.799988          NaN
2017-04-30  929.000000  935.900024  923.219971  924.520020          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [231]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646389  26.782376  26.540880  26.620598     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955
2016-10-31  26.646389  26.782376  26.540880  26.620598          NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572          NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594          NaN
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [232]:
# my example
alphabet_concat = pd.concat([alphabet_bar, alphabet_df_2017], axis = 0)
print(alphabet_concat)

                  Open        High         Low       Close  rate_return
Date
2016-01-31  748.960022  765.109985  744.200012  761.349976          NaN
2016-02-29  721.000000  730.599976  716.840027  717.219971    -0.057963
2016-03-31  768.340027  769.080017  758.250000  762.900024     0.063690
2016-04-30  704.119995  712.109985  703.780029  707.880005    -0.072120
2016-05-31  748.760010  753.479980  745.570007  748.849976     0.057877
2016-06-30  697.650024  703.770020  694.900024  703.530029    -0.060519
2016-07-31  797.710022  803.940002  790.000000  791.340027     0.124813
2016-08-31  789.599976  791.570007  787.200012  789.849976    -0.001883
2016-09-30  803.599976  808.090027  801.500000  804.059998     0.017991
2016-10-31  822.429993  822.630005  808.000000  809.900024     0.007263
2016-11-30  789.099976  791.510010  773.150024  775.880005    -0.042005
2016-12-31  803.210022  803.289978  789.619995  792.450012     0.021356
2016-10-31  822.429993  822.630005  808.000000  809.900024          NaN
2016-11-30  789.099976  791.510010  773.150024  775.880005          NaN
2016-12-31  803.210022  803.289978  789.619995  792.450012          NaN
2017-01-31  819.500000  823.070007  813.400024  820.190002          NaN
2017-02-28  847.349976  848.830017  841.440002  844.929993          NaN
2017-03-31  846.830017  849.559998  845.239990  847.799988          NaN
2017-04-30  929.000000  935.900024  923.219971  924.520020          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [233]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852384  22.440247  21.750948  22.440247          NaN        NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287        NaN
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127210        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652        NaN
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504        NaN
2016-10-31  26.646389  26.782376  26.540880  26.620598     0.004334        NaN
2016-11-30  26.300090  26.441488  25.986656  26.045572    -0.021601        NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955        NaN
2016-10-31        NaN  26.782376  26.540880  26.620598          NaN  26.646389
2016-11-30        NaN  26.441488  25.986656  26.045572          NaN  26.300090
2016-12-31        NaN  27.619809  27.202685  27.294594          NaN  27.490195
2017-01-31        NaN  28.607238  28.425777  28.597811          NaN  28.550679
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146641  33.848414  34.002262          NaN  34.016463
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [234]:
# my example
alphabet_df_2017.columns = ['Change', 'High','Low','Close']
alphabet_concat = pd.concat([alphabet_bar, alphabet_df_2017], axis = 0)
print(alphabet_concat)

                  Open        High  ...  rate_return      Change
Date                                ...
2016-01-31  748.960022  765.109985  ...          NaN         NaN
2016-02-29  721.000000  730.599976  ...    -0.057963         NaN
2016-03-31  768.340027  769.080017  ...     0.063690         NaN
2016-04-30  704.119995  712.109985  ...    -0.072120         NaN
2016-05-31  748.760010  753.479980  ...     0.057877         NaN
2016-06-30  697.650024  703.770020  ...    -0.060519         NaN
2016-07-31  797.710022  803.940002  ...     0.124813         NaN
2016-08-31  789.599976  791.570007  ...    -0.001883         NaN
2016-09-30  803.599976  808.090027  ...     0.017991         NaN
2016-10-31  822.429993  822.630005  ...     0.007263         NaN
2016-11-30  789.099976  791.510010  ...    -0.042005         NaN
2016-12-31  803.210022  803.289978  ...     0.021356         NaN
2016-10-31         NaN  822.630005  ...          NaN  822.429993
2016-11-30         NaN  791.510010  ...          NaN  789.099976
2016-12-31         NaN  803.289978  ...          NaN  803.210022
2017-01-31         NaN  823.070007  ...          NaN  819.500000
2017-02-28         NaN  848.830017  ...          NaN  847.349976
2017-03-31         NaN  849.559998  ...          NaN  846.830017
2017-04-30         NaN  935.900024  ...          NaN  929.000000

[19 rows x 6 columns]

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.